#hiw_grid

	.grid-container
		.grid_header
			.grid_title
				Current Projects
				<br>
				.grid_subtitle 
					Check out teams who are actively recruiting, talk with those who are going, and place a deposit to reserve your spot. 
			.grid-title-underline


		%a{href: "/morocco"}
			.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
				.mobile-grid
					.mobile-grid-img{style: "background: url('#{asset_path("background/moroccovillagethumbnail.jpg")}') center center no-repeat; background-size: cover;"}
						.locationtext
							.mobile-grid-grabber
								A high-adrenaline women's surf & bike adventure across Morocco.
							%a{href: "/morocco"}
								.col-md-4.col-md-offset-4.mobile-grid-btn.btn
									View Trip
									.fa.fa-angle-right{style: "padding-left: 4px; font-size: 16px;"}
					.mobile-grid-info
						.mobile-grid-arrow-expand
							.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
						.mobile-grid-title
							The Berber Traverse
							.mobile-grid-subtitle
								.fa.fa-map-marker{style:"color:#aa4b41; font-size: 13px;"}
								Morocco
						.mobile-grid-description
							An all-women's ride from Berber mountain country to the Atlantic coast along single track, trading routes, cart paths, goat trails and dry riverbeds. After a long week's ride, we'll reach our surf haven on the coast.
						.mobile-grid-travelers
							.traveler-icon{style: "background: url('#{asset_path("travelers/profilelaurieicon.jpg")}') center center no-repeat"}
							.traveler-icon{style: "background: url('#{asset_path("travelers/profileevaicon.jpeg")}') center center no-repeat"}
							.traveler-icon{style: "background: url('#{asset_path("travelers/profilesofiaicon.jpeg")}') center center no-repeat"}
							.traveler-icon{style: "background: url('#{asset_path("travelers/profileawnalisaicon.jpeg")}') center center no-repeat"}
							.traveler-icon{style: "background: url('#{asset_path("travelers/profilemaryicon.jpeg")}') center center no-repeat"}
							.traveler-icon{style: "background: url('#{asset_path("travelers/profilemadelineicon.jpg")}') center center no-repeat"}
							.traveler-icon
								.traveler-icon-additional
									7
							.traveler-icon
								.traveler-icon-additional
									8
						.mobile-grid-launch-count
							Trip Launched! 2 Spots Left


		%a{href: "/peru"}
			.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
				.mobile-grid
					.mobile-grid-img{style: "background: url('#{asset_path("background/piedrassunsetsmall.jpg")}') center center no-repeat; background-size: cover;"}
						.locationtext
							.mobile-grid-grabber
								A packraft journey through one of the last wild places on earth.
							%a{href: "/peru"}
								.col-md-4.col-md-offset-4.mobile-grid-btn.btn
									View Trip
									.fa.fa-angle-right{style: "padding-left: 4px; font-size: 16px;"}
					.mobile-grid-info
						.mobile-grid-arrow-expand
							.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
						.mobile-grid-title
							Packrafting the Upper Amazon
							.mobile-grid-subtitle
								.fa.fa-map-marker{style:"color:#aa4b41; font-size: 13px;"}
								Peru
						.mobile-grid-description
							Explore Peru’s threatened rainforest, from the remote tributaries of the Upper Amazon to the frontiers of deforestation.  A rugged expedition with a mission. Do you have what it takes?
						.mobile-grid-travelers
							.traveler-icon
								.traveler-icon-additional
									1
							.traveler-icon
								.traveler-icon-additional
									2
							.traveler-icon
								.traveler-icon-additional
									3
							.traveler-icon
								.traveler-icon-additional
									4
							.traveler-icon
								.traveler-icon-additional
									5
							.traveler-icon
								.traveler-icon-additional
									6
							.traveler-icon
								.traveler-icon-additional
									7
							.traveler-icon
								.traveler-icon-additional
									8
							.traveler-icon
								.traveler-icon-additional
									9
						.mobile-grid-launch-count
							6 Travelers to Launch Trip

		%a{href: "/kyrgyzstan"}
			.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
				.mobile-grid
					.mobile-grid-img{style: "background: url('#{asset_path("background/kyrgyzstanbannermini.jpg")}') center center no-repeat; background-size: cover;"}
						.locationtext
							.mobile-grid-grabber
								Sleep in Yurts. Hunt with Eagles. Ride with the Kyrgyz Nomads.
							%a{href: "/kyrgyzstan"}
								.col-md-4.col-md-offset-4.mobile-grid-btn.btn
									View Trip
									.fa.fa-angle-right{style: "padding-left: 4px; font-size: 16px;"}
					.mobile-grid-info
						.mobile-grid-arrow-expand
							.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
						.mobile-grid-title
							Spirit of the Nomad
							.mobile-grid-subtitle
								.fa.fa-map-marker{style:"color:#aa4b41; font-size: 13px;"}
								The Kyrgyz Republic
						.mobile-grid-description
							Ride horses high into the mountains, hunt your food with eagles and stay in traditional yurts as this adventure completely immerses you in the beauty and adventure that embodies the Kyrgyz culture.
						.mobile-grid-travelers
							.traveler-icon{style: "background: url('#{asset_path("travelers/profileryanbicon.jpg")}') center center no-repeat"}
							.traveler-icon
								.traveler-icon-additional
									2
							.traveler-icon
								.traveler-icon-additional
									3
							.traveler-icon
								.traveler-icon-additional
									4
							.traveler-icon
								.traveler-icon-additional
									5
							.traveler-icon
								.traveler-icon-additional
									6
							.traveler-icon
								.traveler-icon-additional
									7
							.traveler-icon
								.traveler-icon-additional
									8
						.mobile-grid-launch-count
							3 More Travelers to Launch Trip
					
:javascript

	$('.mobile-grid-img').click(function(){
		$(this).find('.mobile-grid').hover()
	})

	$('.mobile-grid').click(function(){
		$(this).find('.mobile-grid-arrow-expand').hover()
	})

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});

