#hiw_grid

	.grid_header
		.grid_title
			Featured Projects
			<br>
			.grid_subtitle 
				Check out teams who are actively recruiting, talk with those who are going, and place a deposit to reserve your spot. 
		.grid-title-underline

	%a{href: "/peru"}
		.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
			.mobile-grid
				.mobile-grid-img{style: "background: url('#{asset_path("background/teamcolombia.jpeg")}') bottom right no-repeat; background-size: cover;"}
					.locationtext
						.mobile-grid-grabber
							50+ miles of thunderous whitewater through remote jungle.
						%a{href: "/peru"}
							.mobile-grid-btn.btn
								View Project
				.mobile-grid-info
					.mobile-grid-arrow-expand
						.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
					.mobile-grid-title
						Fleeting Magic on the Río Samaná
						.mobile-grid-subtitle
							.fa.fa-globe{style:"color:#ffe52e; font-size: 18px; padding-right: 6px;"}
							Central Colombia
					.mobile-grid-description
						Tackling an epic rafting journey on Colombia's mighty Rio Verde and Rio Samana, from the highlands to the dense jungles of the tropical rainforest.
					.mobile-grid-travelers
						.traveler-icon
							.traveler-icon-additional
								1
						.traveler-icon
							.traveler-icon-additional
								2
						.traveler-icon
							.traveler-icon-additional
								3
						.traveler-icon
							.traveler-icon-additional
								4
						.traveler-icon
							.traveler-icon-additional
								5
						.traveler-icon
							.traveler-icon-additional
								6
						.traveler-icon
							.traveler-icon-additional
								7
						.traveler-icon
							.traveler-icon-additional
								8
						.traveler-icon
							.traveler-icon-additional
								9
					.mobile-grid-launch-count
						6 Travelers to Launch Trip

	%a{href: "/give-and-surf"}
		.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
			.mobile-grid.withborderedsides
				.mobile-grid-img{style: "background: url('#{asset_path("background/moroccovillage.jpg")}') center center no-repeat; background-size: cover;"}
					.locationtext
						.mobile-grid-grabber
							Eight Days in Panama's Caribbean Paradise
						%a{href: "/give-and-surf"}
							.mobile-grid-btn.btn
								View Project
				.mobile-grid-info
					.mobile-grid-arrow-expand
						.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
					.mobile-grid-title
						The Berber Traverse
						.mobile-grid-subtitle
							.fa.fa-globe{style:"color:#ffe52e; font-size: 18px; padding-right: 6px;"}
							Morocco
					.mobile-grid-description
						A badass group of women who not only biked through Morocco and surfed the Atlantic, but also donated supplies directly to the Asni Boarding House for Girls in the Atlas Mountains.

	%a{href: "/kyrgyzstan"}
		.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
			.mobile-grid
				.mobile-grid-img{style: "background: url('#{asset_path("background/kyrgyzstanbannermini.jpg")}') center center no-repeat; background-size: cover;"}
					.locationtext
						.mobile-grid-grabber
							Sleep in Yurts. Hunt with Eagles. Ride with the Kyrgyz Nomads.
						%a{href: "/kyrgyzstan"}
							.mobile-grid-btn.btn
								View Project
				.mobile-grid-info
					.mobile-grid-arrow-expand
						.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
					.mobile-grid-title
						The Spirit of the Nomad
						.mobile-grid-subtitle
							.fa.fa-globe{style:"color:#ffe52e; font-size: 18px; padding-right: 6px;"}
							The Kyrgyz Republic
					.mobile-grid-description
						Riding horses high into the mountains, hunting food with eagles and staying in traditional yurts, this experience was a complete immersion into the beauty and adventure embodying the Kyrgyz culture.
					.mobile-grid-travelers
						.traveler-icon{style: "background: url('#{asset_path("travelers/profileryanbicon.jpg")}') center center no-repeat"}
						.traveler-icon
							.traveler-icon-additional
								2
						.traveler-icon
							.traveler-icon-additional
								3
						.traveler-icon
							.traveler-icon-additional
								4
						.traveler-icon
							.traveler-icon-additional
								5
						.traveler-icon
							.traveler-icon-additional
								6
						.traveler-icon
							.traveler-icon-additional
								7
						.traveler-icon
							.traveler-icon-additional
								8
					.mobile-grid-launch-count
						3 More Travelers to Launch Trip

	%a{href: "/peru"}
		.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
			.mobile-grid
				.mobile-grid-img{style: "background: url('#{asset_path("background/packraftcoverphotothumbnail.jpeg")}') bottom right no-repeat; background-size: cover;"}
					.locationtext
						.mobile-grid-grabber
							A packraft journey through one of the last wild places on earth.
						%a{href: "/peru"}
							.mobile-grid-btn.btn
								View Project
				.mobile-grid-info
					.mobile-grid-arrow-expand
						.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
					.mobile-grid-title
						Packrafting the Upper Amazon
						.mobile-grid-subtitle
							.fa.fa-globe{style:"color:#ffe52e; font-size: 18px; padding-right: 6px;"}
							Puerto Maldonado, Peru
					.mobile-grid-description
						Explore Peru’s threatened rainforest, from the remote tributaries of the Upper Amazon to the frontiers of deforestation. A rugged expedition with a mission. Do you have what it takes?
					.mobile-grid-travelers
						.traveler-icon
							.traveler-icon-additional
								1
						.traveler-icon
							.traveler-icon-additional
								2
						.traveler-icon
							.traveler-icon-additional
								3
						.traveler-icon
							.traveler-icon-additional
								4
						.traveler-icon
							.traveler-icon-additional
								5
						.traveler-icon
							.traveler-icon-additional
								6
						.traveler-icon
							.traveler-icon-additional
								7
						.traveler-icon
							.traveler-icon-additional
								8
						.traveler-icon
							.traveler-icon-additional
								9
					.mobile-grid-launch-count
						6 Travelers to Launch Trip

	%a{href: "/give-and-surf"}
		.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
			.mobile-grid.withborderedsides
				.mobile-grid-img{style: "background: url('#{asset_path("background/giveandsurfsmile17.jpeg")}') center center no-repeat; background-size: cover;"}
					.locationtext
						.mobile-grid-grabber
							Eight Days in Panama's Caribbean Paradise
						%a{href: "/give-and-surf"}
							.mobile-grid-btn.btn
								View Project
				.mobile-grid-info
					.mobile-grid-arrow-expand
						.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
					.mobile-grid-title
						Give & Surf's Island Escape
						.mobile-grid-subtitle
							.fa.fa-globe{style:"color:#ffe52e; font-size: 18px; padding-right: 6px;"}
							Bocas del Toro, Panama
					.mobile-grid-description
						Island hop and explore some of the Caribbean’s best surf breaks, while directly supporting Give & Surf's efforts to empower the indigenous communities of Bocas del Toro.

	%a{href: "/give-and-surf"}
		.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
			.mobile-grid
				.mobile-grid-img{style: "background: url('#{asset_path("background/VietnamCavingSmall.jpeg")}') center center no-repeat; background-size: cover;"}
					.locationtext
						.mobile-grid-grabber
							Eight Days in Panama's Caribbean Paradise
						%a{href: "/give-and-surf"}
							.mobile-grid-btn.btn
								View Project
				.mobile-grid-info
					.mobile-grid-arrow-expand
						.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
					.mobile-grid-title
						The Long Way to Saigon
						.mobile-grid-subtitle
							.fa.fa-globe{style:"color:#ffe52e; font-size: 18px; padding-right: 6px;"}
							Across Vietnam
					.mobile-grid-description
						Island hop and explore some of the Caribbean’s best surf breaks, while directly supporting Give & Surf's efforts to empower the indigenous communities of Bocas del Toro.

	%a{href: "/give-and-surf"}
		.col-md-4{style: "padding-left: 0px; padding-right: 0px;"}
			.mobile-grid
				.mobile-grid-img{style: "background: url('#{asset_path("background/VietnamCavingSmall.jpeg")}') center center no-repeat; background-size: cover;"}
					.locationtext
						.mobile-grid-grabber
							Eight Days in Panama's Caribbean Paradise
						%a{href: "/give-and-surf"}
							.mobile-grid-btn.btn
								View Project
				.mobile-grid-info
					.mobile-grid-arrow-expand
						.fa.fa-angle-up{style:"color:#fff; font-size: 28px; padding-left: 20px; padding-top: 1px;"}
					.mobile-grid-title
						Cruising through Baja on Veggie Oil
						.mobile-grid-subtitle
							.fa.fa-globe{style:"color:#ffe52e; font-size: 18px; padding-right: 6px;"}
							Baja, Mexico
					.mobile-grid-description
						Challenging the dirt and sand roads of Baja in a red, mustached, 4WD school bus; which also runs on vegetable oil. From getting towed by a bulldozer to run-in's with the police, this adventure will last all of us a lifetime.




:javascript

	$('.mobile-grid-img').click(function(){
		$(this).find('.mobile-grid').hover()
	})

	$('.mobile-grid').click(function(){
		$(this).find('.mobile-grid-arrow-expand').hover()
	})

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});

