#projects_grid

	.grid_background
		.grid_header
			#header-font.grid_title
				A few stories & projects
				<br>
				#body-font.grid_subtitle 
					From digital to offline experiences, we seek challenges that involve human connection and empathy.

			.grid-title-underline	

		.project-thumbnail-grid

			%a{href: "/rio-samana"}
				.col-md-4.grid-container
					.grid-image-container
						.grid-img{style: "background: url('#{asset_path("background/ColombiaRafting.jpeg")}') center center no-repeat; background-size: cover;"}
							.grid-mask
						.grid-text
							.grid-category
								Experience
							#subheader-font.grid-title
								Fleeting Magic on the Rio Samana
							.grid-description
								Tackling an epic rafting journey on Colombia's mighty Rio Verde and Rio Samana, from the highlands to the dense jungles of the tropical rainforest.
						.grid-img-overlay{href: "/rio-samana"}
							.grid-underline-cta
							.grid-btn.btn
								View Project

			%a{href: "/tourism-collective"}
				.col-md-8.grid-container
					.grid-image-container
						.grid-img{style: "background: url('#{asset_path("background/TourismCollectiveFlags.jpg")}') bottom center no-repeat; background-size: cover;"}
							.grid-mask
						.grid-text
							.grid-category
								Digital
							#subheader-font.grid-title
								Building a Community of Destination Leaders
							.grid-description
								Founding an organization for tourism leaders to join forces in strengthening communities around the world through open-source information andexpert consulting on destination management.
						.grid-img-overlay{href: "/tourism-collective"}
							.grid-underline-cta
							.grid-btn.btn
								View Project

			%a{href: "/thrivepass"}
				.col-md-8.grid-container
					.grid-image-container
						.grid-img{style: "background: url('#{asset_path("background/ThrivePassOfficeSmiles.jpg")}') bottom center no-repeat; background-size: cover;"}
							.grid-mask
						.grid-text
							.grid-category
								Digital
							#subheader-font.grid-title
								Creating a Holistic Employee Benefits Experience
							.grid-description
								Rethinking employee wellness and designing an application to cover everything from pre-tax benefits and wellness stipends to wearable device integrations and challenges.
						.grid-img-overlay{href: "/thrivepass"}
							.grid-underline-cta
							.grid-btn.btn
								View Project
					
			%a{href: "/baja-escape"}
				.col-md-4.grid-container
					.grid-image-container
						.grid-img{style: "background: url('#{asset_path("background/Baja-Escape-Bus-Small.jpg")}') bottom center no-repeat; background-size: cover;"}
							.grid-mask
						.grid-text
							.grid-category
								Experience
							#subheader-font.grid-title
								Stuck Together in the Baja Escape
							.grid-description
								A few unexpected setbacks turned into the ultimate bonding experience for a group of travelers camping along the Pacific coast.
						.grid-img-overlay{href: "/baja-escape"}
							.grid-underline-cta
							.grid-btn.btn
								View Project

	#thrivepass-call-to-action-section

		#header-font.thrivepass-call-to-action-header
			Is your organization ready to be
			%b{style: "font-family: lora_bolditalic; color: #434649;"} Made by Adventure
			?
		%a.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/BTT9KK", :target => "_blank"}
			.thrivepass-call-to-action-btn
				let's talk



/			%a{href: "/kyrgyzstan"}
/				.col-md-8.grid-container
/					.grid-text{style:"border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; border-radius: 12px;"}
/						.grid-title
/							The Spirit of the Nomad
/						.grid-title-dates
/							.fa.fa-map-marker{style:"color:#aa4b41; font-size: 14px;"}
/							Kyrgyzstan    ||
/							.fa.fa-calendar{style:"color:#aa4b41; font-size: 12px;"} |
/							May 2017
/						.grid-description
/							Ride horses high into the mountains, hunt your food with eagles and stay in traditional yurts as this adventure completely immerses you in the beauty and adventure that embodies the Kyrgyz culture.
/					.grid-image-container
/						.grid-img-right{style: "background: url('#{asset_path("background/ryanmountainpic.jpeg")}') center center no-repeat; background-size: cover;"}
/						.grid-img-overlay-right
/							%a{href: "/kyrgyzstan"}
/								.grid-btn.btn
/									View Adventure


/ Trips Not Yet Launched

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/IndiaMountains.jpg")}') center center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: right;"}
/						.grid-title
/							RIDING THE ROOF OF THE WORLD
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							Late Summer 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							India
/						.grid-title-unlock
/							.fa.fa-key{style:"color:#aa4b41;"}
/							Unlocked by Jon M.
/						.grid-description
/							Conquer one of the most challenging motorcycle routes in the world. We'll endure the highest roads in the world while taking in the scenic valleys, lakes, moutains and faces of the beautiful Himalayan Plateau.
/						%a{href: "/india"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/packraftjunglemain.jpg")}') center center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: left;"}
/						.grid-title
/							ADVENTURE & CONFLICT IN THE AMAZON
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							Late Fall 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Western Amazon, Peru
/						.grid-description
/							With a team of local guides and a fleet of ultra-portable packrafts, trek along remote logging roads, follow animal trails, and paddle unnamed tributaries through one of the most ecologically diverse places on earth; the upper Amazon.
/						%a{href: "/peru"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/TrestlesBeachhomepage.jpeg")}') bottom center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: right;"}
/						.grid-title
/							The SoCal Trifecta
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							June 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Los Angeles, CA
/						.grid-description
/							Exploring the ocean, the desert and the mountains all in one weekend. This trip will take you rock climbing in Joshua Tree National Park, hiking and camping in the giant pine forests of San Jacinto State Park, and surfing the waves and watching the sunset on the Malibu coast.
/						%a{href: "/socaltrifecta"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/kyrgyzmainhomepage.jpg")}') bottom center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: left;"}
/						.grid-title
/							EAGLES, HORSES AND YURTS
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							Fall 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Kyrgyzstan
/						.grid-description
/							Experience a complete cultural expedition as we explore the Kyrgyz mountains by horseback, eat only what we hunt with eagles and falcons and stay in traditional, high altitude villages in yurts.
/						%a{href: "/apply/kyrgyzstan"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/bonfirebeach.jpeg")}') bottom center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: left;"}
/						.grid-title
/							The Baja Escape
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							Late Summer 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Baja California, Mexico
/						.grid-description
/							Explore Baja California in a souped up, 4WD school bus that runs on vegetable oil. We'll scour the rugged pacific coast hunting down the best seafood stands, remote beaches, and desert oasis swimming holes.
/						%a{href: "/apply/baja"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/LakePowellWide.jpg")}') bottom center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: right;"}
/						.grid-title
/							Slot Canyons of Lake Powell
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							August 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Lake Powell, UT
/						.grid-description
/							Camp on backcountry sandbars, climb and rappel through the cayons, jump of the cliffs into the freshwater and get around with jetskis and boats. 
/						%a{href: "/apply/lakepowell"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure
