#trips_grid

	.container.grid_background
		.row
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/dirtbikevietnam.jpeg")}') center center no-repeat"}
			.col-md-6.grid-text
				.grid-title.text-center
					The Long Road South
				.grid-title-underline
				.grid-description.text-center
					A 2,400km adventure across Vietnam from Hanoi to Ho Chi Minh City on a souped up dirt bike. No set routes, GPS cheats or guides to lead the way. 
				.grid-title-creator
					Made by: Jon M.
				%a{href: "/vietnam"}
					.col-md-4.col-md-offset-4.grid-btn.btn
						View Adventure

		.row
			.col-md-6.grid-text
				.grid-title.text-center
					Whitewater Colombia
				.grid-title-underline
				.grid-description.text-center
					Rafting from the highlands to the jungles of the rainforest. Cliff jumping, hammock camping, swimming in waterfalls, a lot of coffee, and nights under the stars.
				.grid-title-creator
					Made by: Max J.

				%a{href: "/colombia"}
					.col-md-4.col-md-offset-4.grid-btn.btn
						View Adventure
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/colombiadirtroadgrid.jpg")}') center center no-repeat"}

		.row
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/BurmaBalloons.jpg")}') center center no-repeat"}
			.col-md-6.grid-text-coming
				.grid-title.text-center
					Myanmar
				.grid-title-underline
				.grid-description.text-center
					(Coming Fall 2016)

		.row
			.col-md-6.grid-text-coming
				.grid-title.text-center
					Tajikistan
				.grid-title-underline
				.grid-description.text-center
					(Coming Fall 2016)
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/tajikmainthumbnail.jpg")}') center center no-repeat"}

		.row
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/moroccothumbnail.jpg")}') center center no-repeat"}
			.col-md-6.grid-text-coming
				.grid-title.text-center
					Morocco
				.grid-title-underline
				.grid-description.text-center
					(Coming Fall 2016)

		.row
			.col-md-12.your-adventure
				.your-adventure-header
					What's Your Adventure?
				.your-adventure-body
					Propose a trip and we could send you on it
				%a{href: "/adventure"}
					.your-adventure-btn
						Learn More
