#projects_grid

	.grid_background
		.grid_header
			.grid_title
				A few stories & projects
				<br>
				.grid_subtitle 
					From digital to offline experiences, we believe the first should guide the latter.

			.grid-title-underline	

		.row.grid-row
			<br>
			<br>
			%a{href: "/morocco"}
				.col-md-10.col-md-offset-1.grid-container
					.col-md-4.grid-text{style:"border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; border-radius: 12px;"}
						.grid-title
							The Berber Traverse					
						.grid-title-dates
							.fa.fa-map-marker{style:"color:#aa4b41; font-size: 14px;"}
							Morocco    ||
							.fa.fa-calendar{style:"color:#aa4b41; font-size: 12px;"} |
							September 2016
						.grid-description
							An all-women's ride from Berber mountain country to the Atlantic coast along single track, trading routes, cart paths, goat trails and dry riverbeds. After a long week's ride, we'll reach our surf haven on the coast.
							
					.col-md-8.grid-image-container
						.grid-img-right{style: "background: url('#{asset_path("background/moroccovillage.jpg")}') bottom center no-repeat; background-size: cover;"}
						.grid-img-overlay-right
							%a{href: "/morocco"}
								.grid-btn.btn
									View Adventure

		.row.grid-row
			<br>
			<br>
			%a{href: "/peru"}
				.col-md-10.col-md-offset-1.grid-container
					.col-md-8.grid-image-container
						.grid-img-left{style: "background: url('#{asset_path("background/packraftcoverphotothumbnail.jpeg")}') bottom center no-repeat; background-size: cover;"}
						.grid-img-overlay-left
							%a{href: "/vietnam"}
								.grid-btn.btn
									View Adventure
					%a{href: "/vietnam"}
						.col-md-4.grid-text
							.grid-title
								Packraft the Upper Amazon
							.grid-title-dates
								.fa.fa-map-marker{style:"color:#aa4b41; font-size: 14px;"}
								Peruvian Amazon    ||
								.fa.fa-calendar{style:"color:#aa4b41; font-size: 12px;"} |
								November 2016
							.grid-description
								Explore Peru’s threatened rainforest, from the remote tributaries of the Upper Amazon to the frontiers of deforestation. A rugged expedition with a mission. Do you have what it takes?

		.row.grid-row
			<br>
			<br>
			%a{href: "/kyrgyzstan"}
				.col-md-10.col-md-offset-1.grid-container
					.col-md-4.grid-text{style:"border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; border-radius: 12px;"}
						.grid-title
							The Spirit of the Nomad
						.grid-title-dates
							.fa.fa-map-marker{style:"color:#aa4b41; font-size: 14px;"}
							Kyrgyzstan    ||
							.fa.fa-calendar{style:"color:#aa4b41; font-size: 12px;"} |
							May 2017
						.grid-description
							Ride horses high into the mountains, hunt your food with eagles and stay in traditional yurts as this adventure completely immerses you in the beauty and adventure that embodies the Kyrgyz culture.
					.col-md-8.grid-image-container
						.grid-img-right{style: "background: url('#{asset_path("background/ryanmountainpic.jpeg")}') center center no-repeat; background-size: cover;"}
						.grid-img-overlay-right
							%a{href: "/kyrgyzstan"}
								.grid-btn.btn
									View Adventure



/ Trips Not Yet Launched

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/IndiaMountains.jpg")}') center center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: right;"}
/						.grid-title
/							RIDING THE ROOF OF THE WORLD
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							Late Summer 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							India
/						.grid-title-unlock
/							.fa.fa-key{style:"color:#aa4b41;"}
/							Unlocked by Jon M.
/						.grid-description
/							Conquer one of the most challenging motorcycle routes in the world. We'll endure the highest roads in the world while taking in the scenic valleys, lakes, moutains and faces of the beautiful Himalayan Plateau.
/						%a{href: "/india"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/packraftjunglemain.jpg")}') center center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: left;"}
/						.grid-title
/							ADVENTURE & CONFLICT IN THE AMAZON
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							Late Fall 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Western Amazon, Peru
/						.grid-description
/							With a team of local guides and a fleet of ultra-portable packrafts, trek along remote logging roads, follow animal trails, and paddle unnamed tributaries through one of the most ecologically diverse places on earth; the upper Amazon.
/						%a{href: "/peru"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/TrestlesBeachhomepage.jpeg")}') bottom center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: right;"}
/						.grid-title
/							The SoCal Trifecta
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							June 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Los Angeles, CA
/						.grid-description
/							Exploring the ocean, the desert and the mountains all in one weekend. This trip will take you rock climbing in Joshua Tree National Park, hiking and camping in the giant pine forests of San Jacinto State Park, and surfing the waves and watching the sunset on the Malibu coast.
/						%a{href: "/socaltrifecta"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/kyrgyzmainhomepage.jpg")}') bottom center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: left;"}
/						.grid-title
/							EAGLES, HORSES AND YURTS
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							Fall 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Kyrgyzstan
/						.grid-description
/							Experience a complete cultural expedition as we explore the Kyrgyz mountains by horseback, eat only what we hunt with eagles and falcons and stay in traditional, high altitude villages in yurts.
/						%a{href: "/apply/kyrgyzstan"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/bonfirebeach.jpeg")}') bottom center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: left;"}
/						.grid-title
/							The Baja Escape
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							Late Summer 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Baja California, Mexico
/						.grid-description
/							Explore Baja California in a souped up, 4WD school bus that runs on vegetable oil. We'll scour the rugged pacific coast hunting down the best seafood stands, remote beaches, and desert oasis swimming holes.
/						%a{href: "/apply/baja"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure

/		.row
/			.col-md-12.grid-container
/				.grid-img{style: "background: url('#{asset_path("background/LakePowellWide.jpg")}') bottom center no-repeat; background-size: cover;"}
/					.grid-text{style: "float: right;"}
/						.grid-title
/							Slot Canyons of Lake Powell
/						.grid-title-dates
/							.fa.fa-calendar{style:"color:#aa4b41;"} |
/							August 2016
/						.grid-title-location
/							.fa.fa-map-marker{style:"color:#aa4b41;"}
/							Lake Powell, UT
/						.grid-description
/							Camp on backcountry sandbars, climb and rappel through the cayons, jump of the cliffs into the freshwater and get around with jetskis and boats. 
/						%a{href: "/apply/lakepowell"}
/							.col-md-6.col-md-offset-3.grid-btn.btn
/								View Adventure
