#trips_grid

	.container.grid_background
		.row
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/vietnampathsmall.jpeg")}') center center no-repeat"}
			.col-md-6.grid-text
				.grid-title.text-center
					The Long Road South
				.grid-title-underline
				.grid-description.text-center
					A 2,400km adventure across Vietnam from Hanoi to Ho Chi Minh City on a souped up dirt bike. No set routes, GPS cheats or guides to lead the way. 
				.grid-title-creator
					Made by: Jon M.
				%a{href: "/vietnam"}
					.col-md-4.col-md-offset-4.grid-btn.btn
						View Adventure

		.row
			.col-md-6.grid-text
				.grid-title.text-center
					Expedition Samana
				.grid-title-underline
				.grid-description.text-center
					Tackle the mighty Rio Verde and Rio Samana, from the Colombian highlands to the dense jungles of the tropical rainforest. Cliff jumping, hammock camping, swimming in waterfalls, a lot of coffee, and nights under the stars.
				.grid-title-creator
					Made by: Max J.

				%a{href: "/colombia"}
					.col-md-4.col-md-offset-4.grid-btn.btn
						View Adventure
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/WhiteWaterColombiaSmall.jpg")}') center center no-repeat"}

		.row
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/IndiaMountainssmall.jpg")}') center center no-repeat"}
			.col-md-6.grid-text-coming
				.grid-title.text-center
					India's Far North
				.grid-title-underline
				.grid-description.text-center
					(Coming Soon)

		.row
			.col-md-6.grid-text-coming
				.grid-title.text-center
					Packrafting the Amazon
				.grid-title-underline
				.grid-description.text-center
					(Coming Soon)
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/packraftjungle.jpg")}') center center no-repeat"}

		.row
			.col-md-6.grid-container
				.grid-img{style: "background: url('#{asset_path("background/tajikmainthumbnail.jpg")}') center center no-repeat"}
			.col-md-6.grid-text-coming
				.grid-title.text-center
					Climbing Tajikistan
				.grid-title-underline
				.grid-description.text-center
					(Coming Soon)

		.row
			.col-md-12.your-adventure
				.your-adventure-header
					What's your adventure?
				.your-adventure-body
					Propose or claim a trip and we could send you on it.
				%a{href: "/adventure"}
					.your-adventure-btn
						Learn More
