.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/vietnamwaterfall.jpg")}') center center no-repeat"}

.location-slow-scroll
	#location-text{style: 'color: #fff;'}
		#location-header
			The Escobar Express
		#location-explanation
			The side of Colombia you didn’t see on Netflix
		#location-header-mobile
			The Escobar Express
		#location-explanation-mobile
			The side of Colombia you didn’t see on Netflix

.location-details
	.col-md-12.location-itinerary
		.col-md-6.mission-block
			.itinerary-header
				The Mission
			.itinerary-body
				Bike the backroads and remote corners of Colombia. Ride, get lost, ride more, dance, ride, drink, swim in bioluminescent water (look it up), eat great food, sweat, climb massive rocks, dive in waterfalls, ride again. You can rest when the trip is over.
			.final-sentence
				<br>
				Let's get weird this May.

		.col-md-6.map-block
			.route-map{style: "background: url('#{asset_path("background/ColombiaImageMap.png")}') center center no-repeat"}

	.col-md-12.location-description
		.description-title
			What is This?
		.description-body
			We've gone through the dirty work of researching the most interesting (even uncharted) bike routes in this wonderland of a country. Now, we need people to join us. Our adventure will take us from beautiful Medellín, and the surrounding mountains, to literally spending the night in the middle of the ocean. 
			<br>
			<br> 
			This is in no way a packaged tour, it’s a team expedition. We need adventurous spirits and biking enthusiasts to make this trip a success. You'll end up with a few crazy stories to tell when the journey is over, and more than likely a few incredible friends.

	.col-md-12.destination-container
		.basecamps-title
			Basecamps & Checkpoints
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/medellinthumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Medellín
					.destination-body
						Jet lag is all in your head. Shake it off and get funky at the launch party. We’ll explore the night scene, eat away our hangovers in the morning in time to spend the full day on mountain bikes dropping 5,000ft from cloud forests to colonial villages.
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'Basecamp #1 - Medellín', 'data-body' => 'Jet lag is all in your head. Shake it off and get funky at the launch party. We’ll explore the night scene, eat away our hangovers in the morning in time to spend the full day on mountain bikes dropping 5,000ft from cloud forests to colonial villages.', 'data-img-src' => "#{asset_url("background/medellinthumbnail.jpg")}"}
							View Basecamp
			.destination-body-mobile
				Jet lag is all in your head. Shake it off and get funky at the launch party. We’ll explore the night scene, eat away our hangovers in the morning in time to spend the full day on mountain bikes dropping 5,000ft from cloud forests to colonial villages.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/guatapethumbnail.jpeg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Guatapé
					.destination-body
						Formerly the summer retreat of Pablo Escobar, this small town is towered by El Peñol, a 10 million ton rock jutting from the hillside. You can walk 747 steps to the top, but we’ll be climbing it with a guide instead. The following day we’ll trace a rural road, biking to the small town of San Carlos, stopping often for swimming and cliff diving on the Rio Guatapé.
						
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'Basecamp #2 - Guatapé', 'data-body' => 'Formerly the summer retreat of Pablo Escobar, this small town is towered by El Peñol, a 10 million ton rock jutting from the hillside. You can walk 747 steps to the top, but we’ll be climbing it with a guide instead. The following day we’ll trace a rural road, biking to the small town of San Carlos, stopping often for swimming and cliff diving on the Rio Guatapé.', 'data-img-src' => "#{asset_url("background/guatapethumbnail.jpeg")}"}
							View Basecamp
			.destination-body-mobile
				Formerly the summer retreat of Pablo Escobar, this small town is towered by El Peñol, a 10 million ton rock jutting from the hillside. You can walk 747 steps to the top, but we’ll be climbing it with a guide instead. The following day we’ll trace a rural road, biking to the small town of San Carlos, stopping often for swimming and cliff diving on the Rio Guatapé.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/cartagenathumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Cartagena
					.destination-body
						After a flight to Cartagena, we'll jump back on bikes and head into the countryside for two days; hitting towns you won't see in any travel guides. We’ll ride with a local guide and support vehicle to help us reach the coastal village of Rincón del Mar and then send us off to sea. This ride will be challenging,  making our following three days in tropical paradise that much sweeter.
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp2', 'data-title' => 'Basecamp #3 - Cartagena', 'data-body' => "After a flight to Cartagena, we'll jump back on bikes and head into the countryside for two days; hitting towns you won't see in any travel guides. We’ll ride with a local guide and support vehicle to help us reach the coastal village of Rincón del Mar and then send us off to sea. This ride will be challenging,  making our following three days in tropical paradise that much sweeter.", 'data-img-src' => "#{asset_url("background/cartagenathumbnail.jpg")}"}
							View Basecamp
			.destination-body-mobile
				After a flight to Cartagena, we'll jump back on bikes and head into the countryside for two days; hitting towns you won't see in any travel guides. We’ll ride with a local guide and support vehicle to help us reach the coastal village of Rincón del Mar and then send us off to sea. This ride will be challenging,  making our following three days in tropical paradise that much sweeter.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/sanbernardothumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Isla Tintipán
					.destination-body
						Crystal clear waters, lobster lunches pulled fresh from the sea, white sand beaches, swimming with glowing phytoplankton, and candle lit nights when the power goes off for the day...This is the part of the trip where it’s okay to kick back with a beer and be as lazy as you want.
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp3', 'data-title' => 'Basecamp #4 - Isla Tintipán', 'data-body' => 'Crystal clear waters, lobster lunches pulled fresh from the sea, white sand beaches, swimming with glowing phytoplankton, and candle lit nights when the power goes off for the day...This is the part of the trip where it’s okay to kick back with a beer and be as lazy as you want.', 'data-img-src' => "#{asset_url("background/sanbernardothumbnail.jpg")}"}
							View Basecamp
			.destination-body-mobile
				Crystal clear waters, lobster lunches pulled fresh from the sea, white sand beaches, swimming with glowing phytoplankton, and candle lit nights when the power goes off for the day...This is the part of the trip where it’s okay to kick back with a beer and be as lazy as you want.


	.col-md-12.location-how{style: "background: url('#{asset_path("background/vietnam40.jpg")}') center center no-repeat"}
		.location-how-header
			What's the "Plan"?
		.col-md-12.how-box-container
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						Forming Teams
					.how-box-body
						Rather than travel in a big group, we're going to break into teams of two. We're not saying it's a competition...but first to each basecamp will be getting rewards and bragging rights.
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						What We'll Handle
					.how-box-body
						Your bike and riding gear will be waiting for you on arrival along with all basecamp accommodations. We'll also ship your bike back to Hanoi...if you make it there.
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						What You'll Need
					.how-box-body	
						This trip isn't for amatuer riders... You'll need to prove your riding experience, valid motorcycle license and apply for an international drivers permit.
	.col-md-12.location-who
		.location-who-header
			Who's Going?
		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/banosbiking.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Jon M.
				.who-title
					Team
				.who-description
					The Pho King
				.who-title
					Secret Weapon
				.who-description
					Wet Wipes and a flawless one-cheek-sneak regardless of the location or situation.


		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/Chrisjumping.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Chris S.
				.who-title
					Team
				.who-description
					Aye Okie
				.who-title
					Why I'll Win
				.who-description
					Short cuts, booby traps and bribes.

		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/ryanfunnyimage.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Ryan A.
				.who-title
					Team
				.who-description
					The Pho King
				.who-title
					Only Weakness
				.who-description
					My vibrant personality and boyish good looks get me into trouble overseas.

	.col-md-12.location-inclusions{style: "background: url('#{asset_path("background/vietnampath.jpeg")}') center center no-repeat"}
		.location-inclusions-header
			Reserve your Spot
		.location-date
			May 14th - June 24th, 2016
		.col-md-10.col-md-offset-1.inclusions-container
			.col-md-6.inclusions-title
				What's Included?
				.inclusions-description
					Welcome party in Medellín
					<br>
					<br>
					11 nights accommodation
					<br>
					<br>
					4 days of guided bike trips
					<br>
					<br>
					Rock climbing at Guatapé
					<br>
					<br>
					Flight from Medellín to Cartagena
					<br>
					<br>
					All meals on the Islas de San Bernardo
					<br>
					<br>
					San Bernardo boat tours
					<br>
					<br>
					Lifelong friends
			.col-md-6.inclusions-title
				What's Not Included?
				.inclusions-description
					International flights
					<br>
					<br>
					Most meals and beverages
					<br>
					<br>
					Airport transfers
					<br>
					<br>
					Travel insurance
					<br>
					<br>
					Optional excursions


	.col-md-12.location-join
		.who-join
			Do you have what it takes?
		.who-join-description
			Apply to join the traveling circus!
		%a{href: '/users/auth/facebook'}
			.join-button.btn
				Apply Now


