- content_for(:meta_og) do
  %meta{:content => "50+ Miles of Colombian Whitewater - By Max J.", :property => "og:title"}/
  %meta{:content => "AdventureMade", :property => "og:site_name"}/
  %meta{:content => "We're tackling the mighty Rio Verde and Rio Samana, from the Colombian highlands to the dense jungles of the tropical rainforest.", :property => "og:description"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "http://www.madebyadventure.com/colombia", :property => "og:url"}/
  %meta{:content => "http://i.imgur.com/eegZ8J1.png", :property => "og:image"}/
  %meta{:content => "1437", :property => "og:image:width"}/
  %meta{:content => "752", :property => "og:image:height"}/

.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/WhiteWaterColombiaMain.jpg")}') center center no-repeat"}

.location-slow-scroll
  #location-text
    #location-header
      Expedition Samana
    #location-explanation
      50+ miles of thunderous whitewater through remote jungle
    #location-header-mobile
      Expedition 
      <br>
      Samana
    #location-explanation-mobile
      50+ miles of thunderous whitewater through remote jungle
    #created-by
      Made by: Max J.

.location-details
  .col-md-12.location-itinerary{style:"background: #212326;"}
    .col-md-6.mission-block
      .itinerary-header
        The Mission
      .itinerary-body
        Tackle the mighty Rio Verde and Rio Samana, from the Colombian highlands to the dense jungles of the tropical rainforest. Cliff jumping, hammock camping, swimming in waterfalls, a lot of coffee, and nights under the stars.
      .final-sentence
        <br>
        Yes Mom, Colombia is a safe place to travel.

    .col-md-6.map-block
      .route-map{style: "background: url('#{asset_path("background/ColombiaImageMap.png")}') center center no-repeat"}

  .col-md-12.location-description
    .description-title
      Tell Me More
    .description-body
      I've partnered with Jules from Expedition Colombia in Medellín to chart a unique route for this expedition. We’ll start high in the mountains outside of Medellín and end in the Colombian lowlands; 5 days, 4 nights, and a lot of water. This is a 10 day trip, but the focus is undoubtedly the rafting adventure.
      <br>
      <br>
      You will be a member on a purposeful expedition, not a guest on a tour. We’ll need 8 seriously adventurous travelers to get this journey off the ground. Bonus points to those who can speak spanish! We guarantee you'll end up with a few crazy stories to tell when the journey is over, and more than likely a few incredible friends.

  .col-md-12.destination-container
    .basecamps-title
      A Few Highlights
    .highlight-gallery
      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/medellinthumbnail.jpg")}') center center no-repeat"}
          .destination-description
            .destination-title
              Medellín
            %a
              .destination-button{"data-num" => 1, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'Bikes & Beers in the City of Eternal Spring', 'data-body' => "Jet lag is all in your head. Shake it off and get funky at our welcome party. Get to know everyone else in the crew and check out the legendary Colombian nightlife. <br><br>What you do on the second day is totally up to you. Depending on our group size, I’m looking to get a nice big private home in the historic center of the city. We will have a good basecamp to explore the city from and a quiet place to return home and relax. Medellín is chalked full of interesting historical sites, hiking trails, cheap food, and shopping.<br><br>It’s crazy to think that 20 years ago, Medellín was considered one of the most dangerous cities in the world. Through some really innovative programs, this sprawling mountain metropolis has flipped the script and now ranks consistently as one of the top cities in the world to vitis.<br><br>Medellín’s main form of public transportation is a system of aerial tram cars, which if you ask me is pretty neat. For just a couple bucks you can get anywhere in the city from above. Other potential activities include: catching some sun at Parque Avri, taking a Pablo Escobar tour, watching a soccer match, or learning how to salsa dance. We can plan group activities or figure it out on arrival.<br><br>The big event for Medellín is a full day mountain bike ride that drops 5,000 feet from a cloud forest to a small colonial village outside Medellín. We’ll have high quality mountain bikes, support vehicle, and a guide to show us down the maze of mountain trails. The way down has technical single track for experienced riders and single lane dirt roads for beginners. Either way it’s going to be a blast. We’ll finish off with beers, dinner, and some swimming in the historical village of Santa Fe de Antioquia.<br><br>On the 4th day, we take off towards the mountains for the main event: 5 days of rafting!", 'data-img-src' => "#{asset_url("background/medellinthumbnail.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Bikes & Beers in the City of Eternal Spring
        .destination-underline-mobile
        .destination-body-mobile
          Three glorious days in Medellín. Soak up the abundant sunshine, cheap food and friendly vibes. A delicious combination of nightlife, music, history, and culture, capped off by a full-day 5,000ft mountain bike descent...

      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/rioverdethumbnail.jpg")}') center center no-repeat"}
          .destination-description
            .destination-title
              Rio Verde
            %a
              .destination-button{"data-num" => 2, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'Testing the Waters on the Rio Verde', 'data-body' => 'If you don’t like getting wet, you’ve made a mistake and should turn back now. Day 4 marks the beginning of what I hope to be a ridiculous adventure and lifelong memory. To say you’re traveling to Colombia is cool. To say you’re traveling to Colombia for a whitewater rafting expedition is really really cool.<br><br>Our young, adventurous, and knowledgable guide Jules will pick us up from Medellín and drive us several hours to the source of the Rio Verde. With the help of some mules, we’ll hike down into the canyon and set up camp for the night. It won’t be “glamping”, but it also won’t be Bear Grylls-ing it . Accommodation for most of the journey is a hammock shelter with a mosquito net. In the most cliche way possible, we’ll bond around a glowing campfire, beer in hand, swapping stories of past adventures and revelling in the excitement of the day ahead.<br><br>As the name suggests, the Rio Verde is a beautiful shade of Emerald Green. It snakes its way through through lush mountain valleys, picking up steam as it merges with smaller streams along the way. We’ll spend 2 full days on the river passing small towns, hiking in the canyon, and swimming under waterfalls. Slightly more mellow than the second leg of our journey, the Rio Verde is a good opportunity to get comfortable with #RaftLife.', 'data-img-src' => "#{asset_url("background/rioverdethumbnail.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Testing the Waters on the Rio Verde
        .destination-underline-mobile
        .destination-body-mobile
          Trace the Rio Verde from high mountain stream to rushing river. One part adrenaline, one part immersion, we’ll pass through rural villages, river fisherman and traditional gold miners along the way...

      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/riosamanathumbnail.jpg")}') center center no-repeat"}
          .destination-description
            .destination-title
              Rio Samana
            %a
              .destination-button{"data-num" => 3, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp2', 'data-title' => 'Graduating to the Big Leagues of Whitewater', 'data-body' => "This mother of a river chews up and spits out inexperienced rafters on the daily. That is the line you’re expected to use when recounting the trip to friends when it’s over. In reality, the Rio Samana is bigger and badder than the Rio Verde, but still safe.<br><br>We’ll meet the Rio Samana after three days on the Rio Verde. Here is how Jules describes the river: “She is the mighty and powerful local river queen. Thousands of crystal clear creeks drop from high mountain peaks to cleanse the river basin and flow into pristine, iridescent blue swimming pools and cascading waterfalls. An awe-inspiring diversity of rare birds and butterflies can be observed at all times in her lowland tropical rainforest.” Sounds pretty cool to me...<br><br>We’ll go another 2 days on the Samana, spending the night in the home of a local friend and another night in a remote jungle camp. We can arrange to fish on the river or pan for gold. There will be plenty of hiking, swimming, card playing, and eating to round out the experience.", 'data-img-src' => "#{asset_url("background/riosamanathumbnail.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Graduating to the Big Leagues of Whitewater
        .destination-underline-mobile
        .destination-body-mobile
          Tragically, our adventure might be one of the last on the Rio Samana, as a pending government proposal looks to dam this mighty river. We’ll learn from Jules about the political and environmental climate...

      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/guatapethumbnail.jpeg")}') center center no-repeat"}
          .destination-description
            .destination-title
              Guatapé
            %a
              .destination-button{"data-num" => 4, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp3', 'data-title' => 'Rock Climbing in the Lake Country', 'data-body' => 'This glistening lake side town, will act as our base camp for several days. Formerly the summer retreat of Pablo Escobar and the cartel, this small town offers plenty of culture as well as adventure. Guatapé is a quaint village with colorful buildings and street side cafes. We’ll have the chance to kick back after a week of mostly adrenaline.<br><br>Other optional activities include a cocktail cruise on the expansive lake, renting scooters and riding through the countryside, or “playing paintball in one of Pablo Escobar’s bombed out country estates” (according to a hostel owner I chatted with). Point is, there are plenty of options individually or for us as a group.<br><br>The one activity we’re scheduled to do is rock climbing El Peñol. El Peñol is a 10,000,000 ton rock that juts out of the hillside behind Guatapé. It is typically submitted by a set of 747 steps, but I figured it would be more appropriate to climb it instead. We’ll watch the sunset at the top and take a cheesy group picture, which years from now you’ll look at, smile, and think to yourself, “damn... that was a great trip.”<br><br>Anyway, Guatape is our final stop and a flexible departure point. Rides are just an hour to the airport and can be arranged via bus or taxi. For those, who want to continue the adventure, buses run directly to Medellín which is another 30 minutes past the airport.', 'data-img-src' => "#{asset_url("background/guatapethumbnail.jpeg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Rock Climbing in the Lake Country
        .destination-underline-mobile
        .destination-body-mobile
          Several days of relaxation in the idyllic lake side village. Test your rock climbing skills on a  guided ascent of El Peñol, a 10,000,000 ton rock, which juts from a grassy hillside a few miles away...

  .col-md-10.col-md-offset-1.location-who
    .location-who-header
      Who's Going?
    .col-md-6.who-container
      .who-image{style: "background: url('#{asset_path("background/JamokeOnADune.jpg")}') center center no-repeat"}
      .who-text
        .who-name
          Max J.
        .who-title
          From
        .who-description
          Albuquerque, NM
        .who-title
          I'm Stoked to
        .who-description
          Get lost in a jungle, on a raft...


    .col-md-6.who-container
      .who-image{style: "background: url('#{asset_path("background/RachelProfile.jpg")}') center center no-repeat"}
      .who-text
        .who-name
          Rachel
        .who-title
          From
        .who-description
          Boston, MA
        .who-title
          Last Adventure
        .who-description
          Backpacking from the Middle East, through 5 Balkan countries, to the Mediterranean

    .col-md-6.who-container
      .who-image{style: "background: url('#{asset_path("background/JonProfile.jpg")}') center center no-repeat"}
      .who-text
        .who-name
          Jon
        .who-title
          From
        .who-description
          Northampton, MA
        .who-title
          Celebrated 21st Birthday
        .who-description
          Dancing on a tall ship across the equator

    .col-md-6.who-container
      .who-image{style: "background: url('#{asset_path("background/mitchprofile.jpg")}') center center no-repeat"}
      .who-text
        .who-name
          Mitch
        .who-title
          From
        .who-description
          Chicago, IL
        .who-title
          Words to Live By
        .who-description
          I'd rather be fishing

    .col-md-6.who-container
      .who-image{style: "background: url('#{asset_path("background/JeffProfile.jpg")}') center center no-repeat"}
      .who-text
        .who-name
          Jeff
        .who-title
          From
        .who-description
          Toronto, ON
        .who-title
          Weakness  
        .who-description
          Puppies and greasy burgers

  .col-md-12.location-inclusions{style: "background: #fff;"}
    .location-inclusions-header{style: "color: #212326;"}
      Reserve your Spot
    .col-md-10.col-md-offset-1.inclusions-container{style: "background: transparent;"}
      .priceanddate_container
        .location-date{style: "border:none; color: #212326;"}
          May 14th - 23rd, 2016
        .trip-price{style: "color: #212326; padding-bottom: 40px;"}
          Entry Fee - $1,500
      .col-md-6.inclusion-exclusion-box
        .inclusions-title{style: "color: #00293c; background: #F5F5F5;"}
          What's Included
          <br>
          %i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
          .inclusions-description-hidden{style: "color: #212326;"}
            Welcome Party in Medellín
            <br>
            <br>
            9 Nights Accommodation
            <br>
            (Hotels, Hostels, Hammocks)
            <br>
            <br>
            5 Day Rafting 
            <br>
            (Food, Guide, Gear, Transport)
            <br>
            <br>
            Full-Day Mountain Bike Excursion
            <br>
            <br>
            Guided Rock Climbing at Guatapé
            <br>
            <br>
      .col-md-6.inclusion-exclusion-box
        .exclusions-title{style: "color: #00293c; background: #F5F5F5;"}
          Not Included
          <br>
          %i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
          .exclusions-description-hidden{style: "color: #212326;"}
            International Flights
            <br>
            <br>
            Other Meals and Drinks
            <br>
            <br>
            Airport Transfers
            <br>
            <br>
            Travel Insurance
            <br>
            <br>

  .col-md-12.location-join
    .who-join
      Do you have what it takes?
    .who-join-description
      Join the 50-mile river adventure!
    %a{href:'/apply/Colombia'}
      .join-button.btn
        I'm Interested.

/    %a{href: omniauth_authorize_path(:user, :facebook, adventure: 'colombia' )}
/      .join-button.btn
/        Interested in Joining?

:javascript

  $(document).ready(function() {
  $('.location-slow-scroll').show();
  $('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
  });

  $(document).ready(function() {
    
    $('body *').each( function(){
       
      var top_of_object = $(this).position().top;
      var bottom_of_window = $(window).scrollTop() + $(window).height();
       
      if( bottom_of_window < top_of_object  ){
      
        $(this).addClass('hideme').css({'opacity':'0'});  
      } 
    });
    
    $(window).scroll( function(){
      
      $('.hideme').each( function(i){
        
        var bottom_of_window = $(window).scrollTop() + $(window).height();
        var top_of_object = $(this).position().top;
        
          if( bottom_of_window > ( top_of_object + 100 )  ){
          
            $(this).removeClass('hideme').animate({'opacity':'1'},600); 
          }
      }); 
    });
  });

  $(".inclusions-title").click(function () {
  $(".inclusions-description-hidden").stop().slideToggle();
    return false;
  });

  $(".exclusions-title").click(function () {
  $(".exclusions-description-hidden").stop().slideToggle();
    return false;
  });


/  - if @adventure.users.count > 0
/    .col-md-12.location-who
/      .location-who-header{style: "width: 300px; font-size: 20px;"}
/        = "#{@adventure.users.count} Other People interested"

/      - @adventure.users.each do |user|
/        - if @adventure.users.count == 1
/          .col-md-12.text-center
/            = image_tag asset_url("#{user.avatar_url}?type=large")
/            %hr
/            .location-who-header= user.name.split(' ')[0]
/        - if @adventure.users.count == 2
/          .col-md-6.text-center
/            = image_tag "#{user.avatar_url}?type=large"
/            %hr
/            .location-who-header= user.name.split(' ')[0]
/        - elsif @adventure.users.count > 2
/          .col-md-4.text-center
/            = image_tag "#{user.avatar_url}?type=large"
/            %hr
/            .location-who-header= user.name.split(' ')[0]