.ecuador-hero.ecuador-hero-fix{style: "background: url('#{asset_path("background/vietnamwaterfall.jpg")}') center center no-repeat"}

.ecuador-slow-scroll
	#ecuador-text  
		#ecuador-header
			MAX'S ADVENTURE GANG
		#ecuador-explanation
			Max is a badass, planning badassery...Why? Why not?
		#ecuador-header-mobile
			MAX'S
			<br>
			ADVENTURE
			<br>
			GANG
		#ecuador-explanation-mobile
			Max Joles is a badass, planning badassery...Why? Why not?

.ecuador-details
	.ecuador-description
		.description-title
			Max, What's This?
		.description-body
			Adventure is uncertainty and pushing yourself beyond your comfort zone. We don't believe in travel tours that hold your hand and feed you your meals, which is why I'm choosing 8 ballsy travelers to conquer Ecuador's adventures with me. 
			<br>
			<br> 
			I've set up and planned the necessities and key aspects of the trip...but, this trip is not going to be easy and things are going to go wrong. In the end, it'll be what wasn't planned creates the stories you'll be bragging about for decades to come.

	.col-md-12.ecuador-itinerary
		.col-md-6.mission-block
			.itinerary-header
				The Mission
			.itinerary-body
				From the Amazon, to the Andes, to the Pacific, we're going to go from adventure to adventure on a non-stop adventure quest.
				<br>
				<br> 
			.final-sentence
				Sound crazy? That's why we're going to do it this June.

		.col-md-6.map-block
			.route-map{style: "background: url('#{asset_path("background/Route1.png")}') center center no-repeat"}

	.col-md-12.destination-container
		.basecamps-title
			Basecamps & Checkpoints
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/watercliffs.jpeg")}') center center no-repeat"}
				.destination-title
					Quito
			.destination-description
				.destination-body
					We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members. 
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/phongnhathumbnail.jpg")}') center center no-repeat"}
				.destination-title
					Cotopaxi
			.destination-description
				.destination-body
					Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/huethumbnail.jpg")}') center center no-repeat"}
				.destination-title
					Baños
			.destination-description
				.destination-body
					We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members. 
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/nhatrangthumbnail.jpg")}') center center no-repeat"}
				.destination-title
					Cuenca
			.destination-description
				.destination-body
					Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/muinethumbnail.jpg")}') center center no-repeat"}
				.destination-title
					Montañita
			.destination-description
				.destination-body
					We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members. 
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/hochiminhthumbnail.jpg")}') center center no-repeat"}
				.destination-title
					Puerto Lopez
			.destination-description
				.destination-body
					Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.

	.col-md-12.ecuador-how{style: "background: url('#{asset_path("background/vietnam70.jpg")}') center center no-repeat"}
		.ecuador-how-header
			What's the "Plan"?
		.col-md-12.how-box-container
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						Forming Teams
					.how-box-body
						Rather than travel in a big group, we're going to break into teams of two. We're not saying it's a competition...but first to each basecamp will be getting rewards and bragging rights.
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						What We'll Handle
					.how-box-body
						Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						What You'll Need
					.how-box-body	
						Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.				
			


