- content_for(:meta_og) do
	%meta{:content => "Packraft the Amazon with Paul Rosolie", :property => "og:title"}/
	%meta{:content => "MadebyAdventure", :property => "og:site_name"}/
	%meta{:content => "Explore Peru’s threatened rainforest, from the remote tributaries of the Upper Amazon to the frontiers of deforestation.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/peru", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/wp3dM78.jpg", :property => "og:image"}/
	%meta{:content => "1200", :property => "og:image:width"}/
	%meta{:content => "628", :property => "og:image:height"}/

	%meta{:content => "summary_large_image", :name => "twitter:card"}
	%meta{:content => "@MadebyAdventure", :name => "twitter:site"}
	%meta{:content => "Packrafting the Upper Amazon", :name => "twitter:title"}
	%meta{:content => "Explore Peru’s threatened rainforest, from the remote tributaries of the Upper Amazon to the frontiers of deforestation. http://goo.gl/2CVIkY", :name => "twitter:description"}
	%meta{:content => "http://i.imgur.com/OKXT1iJ.png", :name => "twitter:image:src"}/

.trip-banner
	.trip-banner-image{style: "background: url('#{asset_path("background/boatandpalmtrees.jpeg")}') fixed top no-repeat"}
		.trip-banner-content
			.trip-banner-title
				Give & Surf • Island Escape
			.trip-banner-underline
			.trip-banner-details
				.fa.fa-map-marker{style:"color:#aa4b41; font-size: 16px;"}
				Bocas del Toro, Panama
			.trip-banner-description
				7 Days in Panama's Caribbean Paradise
			%a.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/mdFDmt", :target => "_blank"}
				.trip-banner-btn{style: "background: #aa4b41;"}
					Reserve your spot

.story-container
	.story-header
		The Mission
	.story-mission
		Partner with Give & Surf to support their efforts to empower the indigenous communities of Bocas del Toro, while island hopping and exploring some of the Caribbean’s best surf breaks.
		<br>
		<br>
		• • •
	.story-header
		The Backstory
	.story-text-regular
		While Bocas del Toro has grown in popularity among surfers, backpackers, and tourists over the last decade to the point where it has now been named the #1 travel destination in the world for 2016 by Travel + Leisure Magazine, the indigenous Ngobe communities live in a whole different world from the beautiful beaches and crystal clear waters that the tourists seek.  While only a short water taxi ride from the main island, these Ngobe villages are fairly isolated and most are living in extremely impoverished conditions without electricity and running water and with limited access to education, medical care, and other basic services.  While the government provides free public schooling to students from preschool through high school, most of the children in these villages only have one teacher instructing grades 1-6. 
		<br>
		<br>
		Neil Christiansen first arrived in Bocas del Toro in 2011, when he started visiting the local communities and witnessed first-hand this disparity in access to an education.  Through a collaboration with La Loma Jungle Lodge, Neil was able to launch Give & Surf’s flagship program, the Bahia Honda Escuelita preschool & kindergarten.  Now over five years later, Escuelita runs five days per week year-round serving the Bahia Honda and Bahia Roja communities and has programs in six different communities including educational classes, extracurricular activities, adult English lessons, and scholarship opportunities.  Additionally, Give & Surf has partnered with other individuals and nonprofits to facilitate the construction of several new schools, computer labs, playgrounds, and other structures benefitting the health & education of the Ngobe communities.
	.story-partner
		.col-md-6.story-partner-image{style: "background: url('#{asset_path("background/neilprofilehappy.jpeg")}') center center no-repeat"}  
		.col-md-6.story-partner-text
			.story-partner-header
				About | Neil Christenson
			.story-partner-description
				The founder and brainchild behind Give & Surf, Neil serves as the captain whether he’s jungle living or doing development work in the states. Neil's organization is now actively working in 6 different regions of Bocas del Toros where their mission is to to empower the local indigenous communities through education and community development.
			%a{:href => "http://www.theinertia.com/surf/4-realizations-that-came-from-starting-my-non-profit-in-panama/#modal-close", :target => "_blank"}
				.story-partner-btn
					About Neil
	.story-text-regular
		%a{:href => "http://www.giveandsurf.org", :target => "_blank"}Give & Surf 
		continues to expand its programs and services in a sustainable way through partnerships with the local government, other nonprofits, and volunteers.  Over 200 volunteers from around the world come to help Give & Surf each year thus ensuring the sustainability of the organization and increasing the quality of the programs they provide.  In 2015, Give & Surf started working with sustainable travel organizations to help facilitate trips which allow travelers to be immersed in the local culture and appreciate the undiscovered beauty of Bocas while ensuring that the maximum amount of tourist dollars are put back into the local economy.
	.story-image-section
		.story-title-image{style: "background: url('#{asset_path("background/giveandsurfcollage.jpg")}') fixed center center no-repeat"}
			.title-image-text
				
.experience-container
	.experience-header
		The Experience
	.experience-mission
		Surf, sail, bike and hike, while directly funding Give & Surf's summer school and camp programs.
		<br>
		<br>
		• • •
	.experience-details-container{style: "max-width: 700px; margin: auto;"}
		.col-md-4.experience-details-title
			Dec. 2016
			.experience-details-subtitle
				10-17th
		.col-md-4.experience-details-title
			Jan. 2017
			.experience-details-subtitle
				7-14th
		.col-md-4.experience-details-title
			Feb. 2017
			.experience-details-subtitle
				4-11th
	.experience-text-regular
		We've partnered with Give & Surf to host three custom surf trips in Bocas del Toro. By exploring legendary surf breaks and spending time on various islands, you'll help sustain their efforts to support indigenous communities. This is not a volunteer project nor is it a standard package tour.  It is an experience crafted by a team who cares deeply about these islands and the people who call them home.
		<br>
		<br>
		So, how does the experience look? It looks like waking up in a beachside bungalow, grabbing breakfast with your friends, and jumping on a water taxi to hit up an afternoon surf session at a remote beach. It looks like joining a group of local children on a field trip in the morning, island hopping by sailboat in the afternoon, and digging into fresh-caught red snapper for dinner. It looks like learning to cook from a local Ngobe family, exploring the coastal mangrove swamps, and watching the sun set over the aquamarine reefs. Maybe it looks like a night out in Bocas town, bar hopping between the many stilted restaurants, perched out over the water. 
		<br>
		<br>
		What we're saying, is that it can look like a lot of things. You'll be in an island paradise with a group of great people and a team of locals who want you to have a memorable time. We'll hook you up with transportation, several family style meals, comfortable accommodation, guided surf excursions, a sailboat charter, weekly surfboard rentals, a homestay with Ngobe family, a field trip with Give and Surf school children, and more. It’s not our style to bombard you with every detail up front. If interest, contact us and we’ll give you the full run-down.
		<br>
		<br>
		%b *50% of all profits directly fund summer school and camp programs in the Bahia Honda and Bahia Roja communities. 

	.experience-image-section
		.col-md-4.experience-third-image{style: "background: url('#{asset_path("background/hutonwaterpanama.jpeg")}') center center no-repeat"}
		.col-md-4.experience-third-image{style: "background: url('#{asset_path("background/giveandsurfwater.jpg")}') center center no-repeat"}  
		.col-md-4.experience-third-image{style: "background: url('#{asset_path("background/neilsurfing.png")}') center center no-repeat"}
	.experience-details-container
		.col-md-4.experience-details-title
			Duration
			.experience-details-subtitle
				7 Days
		.col-md-4.experience-details-title
			Capacity
			.experience-details-subtitle
				6-12 Travelers
		.col-md-4.experience-details-title
			Price
			.experience-details-subtitle
				$1,200

.interest-section{style: "background: url('#{asset_path("background/waitingonthedock.jpeg")}') fixed bottom center no-repeat"}
	.interest-section-title
		Join a Trip
	%a.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/mdFDmt", :target => "_blank"}
		.interest-section-request-btn
			Reserve your spot


:javascript

	(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()

	$(document).ready(function() {
	$('.location-slow-scroll').show();
	$('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {

		$('body *').each( function(){

			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();

			if( bottom_of_window < top_of_object  ){

				$(this).addClass('hideme').css({'opacity':'0'});  
			} 
		});

		$(window).scroll( function(){

			$('.hideme').each( function(i){

				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;

					if( bottom_of_window > ( top_of_object + 100 )  ){

						$(this).removeClass('hideme').animate({'opacity':'1'},800); 
					}
			}); 
		});
	});;

	$(".inclusions-title").click(function () {
	$(".inclusions-description-hidden").stop().slideToggle();
		return false;
	});

	$(".exclusions-title").click(function () {
	$(".exclusions-description-hidden").stop().slideToggle();
		return false;
	});
                 
	$(".who-image-button").on("click", function() {
		$('.who-image-button').css('border', '0px solid #fff');
		$(this).css('border','4px solid #fff');
    
		$('.who-name').html($(this).data('name'))
		$('.who-title').html($(this).data('location'))
		$('.who-description').html($(this).data('description'))
		var img_url = $(this).data('image-url')
			$('.traveler-image').attr('src', img_url);
			console.log(img_url)
	});

	$("#readmore-body-text").click(function(){
		$("#expanded-body-text").fadeIn('slow');
		$(this).hide()
	});



/.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/piedrassunset.jpg")}') bottom center no-repeat"}

/.location-slow-scroll
/	#location-text
/		#location-header
/			Packrafting the 
/			<br>
/			Upper Amazon
/		#location-header-mobile
/			Packrafting the 
/			<br>
/			Upper Amazon
/		#location-explanation
/			Packrafting earth's most sacred, yet endangered ecosystem