- content_for(:meta_og) do
	%meta{:content => "A Surf Adventure that Gives Back", :property => "og:title"}/
	%meta{:content => "MadebyAdventure", :property => "og:site_name"}/
	%meta{:content => "Surf, sail, bike and hike in the islands of Bocas del Toro, Panama, while directly funding Give & Surf's school programs in the Bahia Honda and Bahia Roja communities.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/give-and-surf", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/nlGRM4s.jpg", :property => "og:image"}/
	%meta{:content => "1200", :property => "og:image:width"}/
	%meta{:content => "628", :property => "og:image:height"}/

	%meta{:content => "summary_large_image", :name => "twitter:card"}
	%meta{:content => "@MadebyAdventure", :name => "twitter:site"}
	%meta{:content => "A Surf Adventure that Gives Back", :name => "twitter:title"}
	%meta{:content => "Surf, sail, bike and hike in the islands of Bocas del Toro, Panama, while directly funding Give & Surf's school programs in the Bahia Honda and Bahia Roja communities. http://goo.gl/wtmM5P", :name => "twitter:description"}
	%meta{:content => "http://i.imgur.com/nlGRM4s.jpg", :name => "twitter:image:src"}/

.trip-banner
	.trip-banner-image{style: "background: url('#{asset_path("background/boatandpalmtrees.jpeg")}') fixed top no-repeat"}
		.trip-banner-content
			.trip-banner-title
				Give & Surf - Island Escape
			.trip-banner-underline
			.trip-banner-details
				.fa.fa-map-marker{style:"color:#aa4b41; font-size: 16px;"}
				Bocas del Toro, Panama
			.trip-banner-description
				Eight Days in Panama's Caribbean Surf Paradise
			%a.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/mdFDmt", :target => "_blank"}
				.trip-banner-btn{style: "background: #aa4b41;"}
					Reserve your spot

.story-container
	.story-header
		The Mission
	.story-mission
		Support Give & Surf's efforts to empower the indigenous communities of Bocas del Toro, while island hopping and exploring some of the Caribbean’s best surf breaks.
		<br>
		<br>
		• • •
	.story-header
		The Backstory
	.story-author
		by: Neil Christiansen
	.story-text-regular
		As surfers and adventure seekers, we are natural travelers. To us, the world is seen as a limitless canvas of endless coastlines and meaningful connections yet to be made with both other travelers and locals. Of course, many of us show our gratitude in the form of small tokens of appreciation to those we meet on land or sea, whereas others take on a whole different life, dedicated to serving others in places that align with surfing. Some surfers develop nonprofit initiatives to protect the ocean, work with wildlife, or serve communities. The old surfer was a wandering wave searcher, while the new surfer finds waves, makes connections, and is drawn to stay with a purpose. This is the story of one such surfer on a mission to give and surf.
		<br>
		<br>
		In late 2010, there lived a 26-year-old dreamer in San Diego who traded in his conventional, happy life to embark on his most challenging journey: starting a nonprofit in the jungles of Panama to assist those he thought had less and needed more.
		<br>
		<br>
		That man is me: Neil Christiansen, Founder and Director of 
		%a{:href => "http://www.giveandsurf.org", :target => "_blank"}Give & Surf. 
		Living and working with that dream for the last five years has altered my perception of myself, people, nonprofits, and the world we all live in.
		<br>
		<br>
		While Bocas del Toro’s popularity amongst tourists reaches the point where Travel + Leisure has named it the #1 travel destination in the world, the indigenous Ngobe communities of the areas are faced with a starkly different reality of challenges. While only a short water taxi ride from the main island, these Ngobe villages are detached from the benefits of a booming tourism economy and live in extremely impoverished conditions without electricity and running water and with limited access to education, medical care, and other basic services. While the Panamanian government provides free public schooling to students from preschool through high school, most of the children in these villages only have one teacher instructing grades 1-6. 
	.story-image-section
		.story-full-image{style: "background: url('#{asset_path("background/giveandsurfsmile17.jpeg")}') top center no-repeat"}
	.story-text-regular	
		When I initially arrived in Bocas del Toro in 2011 I had a strong desire to help others; however, it wasn’t until after visiting these communities that I knew where and how I wanted to lend a hand: by improving the education for future generations of indigenous communities. It was shortly after these experiences with the local communities that I decided to found Give & Surf and, with the support of La Loma Jungle Lodge, we set our sights on building an early childhood program for children ages 3-5 in the neighboring communities of Bahia Honda and Bahia Roja. Through persistence and dedication the last 5 years we have developed education programs in six different communities including preschool/kindergarten, elementary english, extracurricular activities, adult English lessons, and scholarship opportunities. We have also partnered with other individuals and nonprofits to facilitate the construction of several new schools, computer labs, playgrounds, and other structures benefitting the health & education of the Ngobe communities. All that Give & Surf does day in and day out is made possible by the incredible support of our volunteer family. Thank you for your commitment to being part of this family and I cannot wait to see you in Panama! 
		<br>
		<br>
		Give & Surf continues to expand its programs and services in a sustainable way through partnerships with the local government, other nonprofits, and volunteers. All of the organization’s daily operations and contributions are made possible by the incredible support of our volunteer family. Over 200 volunteers from around the world come to help Give & Surf each year thus ensuring the sustainability of the organization and increasing the quality of the programs they provide. In 2015, Give & Surf started working with sustainable travel organizations to help facilitate trips which allow travelers to be immersed in the local culture and appreciate the undiscovered beauty of Bocas while ensuring that the maximum amount of tourist dollars are put back into the local economy. Thanks to all who decide to become part of our family; I can’t wait to see you in Panama!
	.story-partner
		.col-md-6.story-partner-image{style: "background: url('#{asset_path("background/neilprofilehappy.jpeg")}') center center no-repeat"}  
		.col-md-6.story-partner-text
			.story-partner-header
				About | Neil Christenson
			.story-partner-description
				The founder and brainchild behind Give & Surf, Neil serves as the captain whether he’s jungle living or doing development work in the states. Neil's organization is now actively working in 6 different regions of Bocas del Toros where their mission is to to empower the local indigenous communities through education and community development.
			%a{:href => "http://www.theinertia.com/surf/4-realizations-that-came-from-starting-my-non-profit-in-panama/#modal-close", :target => "_blank"}
				.story-partner-btn
					About Neil
	.story-image-section
		.story-title-image{style: "background: url('#{asset_path("background/giveandsurfcollage.jpg")}') fixed center center no-repeat"}
			.title-image-text
				
.experience-container
	.experience-header
		The Experience
	.experience-mission
		Surf, sail, bike and hike in the islands of Bocas del Toro, Panama, while directly funding Give & Surf's school programs in the Bahia Honda and Bahia Roja communities.
		<br>
		<br>
		• • •
	.experience-details-container{style: "max-width: 700px; margin: auto;"}
		.col-md-4.experience-details-title
			Dec. 2016
			.experience-details-subtitle
				10-17th
		.col-md-4.experience-details-title
			Jan. 2017
			.experience-details-subtitle
				7-14th
		.col-md-4.experience-details-title
			Feb. 2017
			.experience-details-subtitle
				4-11th
	.experience-text-regular
		We've partnered with Give & Surf to host three custom surf trips in Bocas del Toro. By exploring legendary surf breaks and spending time on various islands, you'll help sustain their efforts to support indigenous communities. This is not a volunteer project nor is it a standard package tour.  It is an experience crafted by a team who cares deeply about these islands and the people who call them home.
		<br>
		<br>
		So, how does the experience look? It looks like waking up in a beachside bungalow, grabbing breakfast with your friends, and jumping on a water taxi to hit up an afternoon surf session at a remote beach. It looks like joining a group of local children on a field trip in the morning, island hopping by sailboat in the afternoon, and digging into fresh-caught red snapper for dinner. It looks like learning to cook from a local Ngobe family, exploring the coastal mangrove swamps, and watching the sun set over the aquamarine reefs. Maybe it looks like a night out in Bocas town, bar hopping between the many stilted restaurants, perched out over the water. 
		<br>
		<br>
		What we're saying, is that it can look like a lot of things. You'll be in an island paradise with a group of great people and a team of locals who want you to have a memorable time. We'll hook you up with transportation, several family style meals, comfortable accommodation, guided surf excursions, a sailboat charter, weekly surfboard rentals, a homestay with Ngobe family, a field trip with Give and Surf school children, and more.
		<br>
		<br>
		Although this trip is going to be an unreal travel adventure through endless beach and jungle activities, new friends and lots of memories to be shared, the main reason we’re going to Panama is to help the children in the local communities beyond our good times spent together. For each traveler that joins, over 50% of the profits will go directly towards funding Give & Surf’s school programs in the Bahia Honda and Bahia Roja communities. For those that will be joining the January and February trips, you’ll be spending time with the students within the programs as they take place on the islands. It’s not our style to bombard you with every detail up front. If interested, contact us and we’ll give you the full run-down.
		<br>
		<br>
		%b *Over 50% of all profits directly fund school programs in the Bahia Honda and Bahia Roja communities.

	.experience-image-section
		.col-md-4.experience-third-image{style: "background: url('#{asset_path("background/hutonwaterpanama.jpeg")}') center center no-repeat"}
		.col-md-4.experience-third-image{style: "background: url('#{asset_path("background/giveandsurfwater.jpg")}') center center no-repeat"}  
		.col-md-4.experience-third-image{style: "background: url('#{asset_path("background/neilsurfing.png")}') center center no-repeat"}
	.experience-details-container
		.col-md-4.experience-details-title
			Duration
			.experience-details-subtitle
				8 Days
		.col-md-4.experience-details-title
			Capacity
			.experience-details-subtitle
				6-12 Travelers
		.col-md-4.experience-details-title
			Price
			.experience-details-subtitle
				$1,250

.interest-section{style: "background: url('#{asset_path("background/waitingonthedock.jpeg")}') fixed bottom center no-repeat"}
	.interest-section-title
		Join a Trip
	%a.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/mdFDmt", :target => "_blank"}
		.interest-section-request-btn
			Reserve your spot


:javascript

	(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()

	$(document).ready(function() {
	$('.location-slow-scroll').show();
	$('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {

		$('body *').each( function(){

			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();

			if( bottom_of_window < top_of_object  ){

				$(this).addClass('hideme').css({'opacity':'0'});  
			} 
		});

		$(window).scroll( function(){

			$('.hideme').each( function(i){

				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;

					if( bottom_of_window > ( top_of_object + 100 )  ){

						$(this).removeClass('hideme').animate({'opacity':'1'},800); 
					}
			}); 
		});
	});;

	$(".inclusions-title").click(function () {
	$(".inclusions-description-hidden").stop().slideToggle();
		return false;
	});

	$(".exclusions-title").click(function () {
	$(".exclusions-description-hidden").stop().slideToggle();
		return false;
	});
                 
	$(".who-image-button").on("click", function() {
		$('.who-image-button').css('border', '0px solid #fff');
		$(this).css('border','4px solid #fff');
    
		$('.who-name').html($(this).data('name'))
		$('.who-title').html($(this).data('location'))
		$('.who-description').html($(this).data('description'))
		var img_url = $(this).data('image-url')
			$('.traveler-image').attr('src', img_url);
			console.log(img_url)
	});

	$("#readmore-body-text").click(function(){
		$("#expanded-body-text").fadeIn('slow');
		$(this).hide()
	});



/.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/piedrassunset.jpg")}') bottom center no-repeat"}

/.location-slow-scroll
/	#location-text
/		#location-header
/			Packrafting the 
/			<br>
/			Upper Amazon
/		#location-header-mobile
/			Packrafting the 
/			<br>
/			Upper Amazon
/		#location-explanation
/			Packrafting earth's most sacred, yet endangered ecosystem