= render partial: 'hero_image'
= render partial: 'how_it_works'
= render partial: 'hiw_grid'
= render partial: 'launch_trips'
= render partial: 'traveler_quotes'

- if notice
  :javascript
    remove_notice(10);

  :javascript
    var _d_site = _d_site || '746CC09FADB10525E8E1336A';
    (function(w, d, p, s, s2) {
      w[p] = w[p] || function() { (w[p].q = w[p].q || []).push(arguments) };
      s = d.createElement('script'); s.async = 1; s.src = '//widget.privy.com/assets/widget.js';
      s2 = d.getElementsByTagName('script')[0]; s2.parentNode.insertBefore(s, s2);
    })(window, document, 'Privy');
  



  


