= render partial: 'hero_image'
= render partial: 'how_it_works'
= render partial: 'hiw_grid'
= render partial: 'launch_trips'
= render partial: 'traveler_quotes'

- if notice
  :javascript
    remove_notice(10);
  



  


