- content_for(:meta_og) do
	%meta{:content => "Riding the Roof of the World", :property => "og:title"}/
	%meta{:content => "AdventureMade", :property => "og:site_name"}/
	%meta{:content => "We're tackling the mighty Rio Verde and Rio Samana, from the Colombian highlands to the dense jungles of the tropical rainforest.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/colombia", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/eegZ8J1.png", :property => "og:image"}/
	%meta{:content => "1437", :property => "og:image:width"}/
	%meta{:content => "752", :property => "og:image:height"}/

.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/IndiaMountains.jpg")}') center center no-repeat"}

.location-slow-scroll
	#location-text
		#location-header
			Riding the Roof 
			<br>
			of the World
		#location-header-mobile
			Riding the Roof 
			<br>
			of the World


.location-details
	.col-md-12.location-itinerary
		.mission-block
			.mission-summary-title
				Traversing India's Himalayas on a Royal Enfield
			.col-md-3.mission-details-stats
				.mission-details-content
					.mission-details-title
						.fa.fa-map-marker.mission-details-icon{style:"padding-left: 8px; padding-right: 8px;"}
						Indian Himalayas
					.mission-details-title
						.fa.fa-calendar.mission-details-icon
						Early Fall 2016
					.mission-details-title
						.fa.fa-users.mission-details-icon
						5-8 Travelers
					.mission-details-title
						.fa.fa-money.mission-details-icon
						Starting at $1,899
					%a{href:'/apply/India'}
						.mission-apply-button
							Sign Up
			.col-md-8.col-md-offset-1.mission-text-box
				.mission-summary-subtitle
					Riding the Roof of the World
				.mission-body
					Conquer one of the most challenging motorcycle routes in the world. A true pilgrimage for adventure rider enthusiasts. Mountain faces, painted by the passing sun, border the scenic valleys we’ll follow high into the Himalayan Plateau. We'll traverse the world's top five mountain passes, including the mighty Khardungla Pass, which at nearly 18,000 feet, stands as the world’s highest motorable pass.  
					<br>
					<br>
					We’ll have to endure challenging adventure riding and harsh weather to complete the circuit. It will take teamwork, persistence, and positivity to realize this once of a lifetime trip. It won’t be easy, but the payoff is immense. Take in the unmatched beauty of high altitude lakes that change color by the hour, marvel at the surprising presence of bactrian camels in high altitude desert valleys, and relax at a river oasis hamlet. 

	.col-md-12.location-description
		.description-title
			The Team
		.col-md-6.team-leader-container
			.description-guide-image{style: "background: url('#{asset_path("background/manojprofile2.jpg")}') center center no-repeat"}
			.guide-name
				Manoj K.
			.guide-border
			.guide-title
				Adventure Leader
			.guide-description
				Manoj has trained over 1000 army officers, worked with the UN in Central Africa, been the CEO of an engineering organization, headed McDonald's India HR and lead countless motorcycle expeditions through India, Thailand and Bhutan... Manoj founded Victorianz, an adventure travel company based out of India. It's safe to say he's a renaissance man and the perfect guide for our adventure ride through the Himalayas.
				
		.col-md-6.team-leader-container	
			%a{href:'/apply/india'}
				.description-guide-image{style: "background: #aa4b41;"}
					+
			.guide-name
				Apply to be the
			.guide-border
			.guide-title
				Adventure Ambassador
			.guide-description
				Manoj has created a one-time trip that is sure to be one hell of an experience through the high Himalayan mountains. We're looking for a passionate adventure ambassador to spread the word and assemble a team.

	.col-md-12.destination-container
		.basecamps-title
			A Few Highlights
		.highlight-gallery
			.row.col-md-6.destination-highlight
				.destination-image{style: "background: url('#{asset_path("background/muddyindiamotorcycle.jpg")}') center center no-repeat"}
					.destination-description
						.destination-title
							Jispa
				.destination-subtitle-mobile
					14,000 ft and Still Going...
				.destination-underline-mobile
				.destination-body-mobile
					After meeting the group and your Royal Enfield in Manali, we’ll begin our journey into the mountains. We’ll ride through the famous Rohtang Pass ("heap of corpses") to Jispa. After a night in a nature camp, we’ll climb up to 14,000 ft along very rugged terrains to the Sarchu plains.

			.row.col-md-6.destination-highlight
				.destination-image{style: "background: url('#{asset_path("background/Ladakhpeak.jpg")}') center center no-repeat"}
					.destination-description
						.destination-title
							Leh
				.destination-subtitle-mobile
					Monasteries, Whitewater and Amazing Riding
				.destination-underline-mobile
				.destination-body-mobile
					Ride through the famous Moreh Plains, Tanglang La Pass, deep gorges and ride into the Leh Valley. Take a day to explore the region, local foods and culture before we explore the Alchi and Likir Monastery. If you’re keen to, we can white water raft the Indus River for extra adventure.

			.row.col-md-6.destination-highlight
				.destination-image{style: "background: url('#{asset_path("background/indianchildren.jpg")}') center center no-repeat"}
					.destination-description
						.destination-title
							Nubra
				.destination-subtitle-mobile
					The World’s Highest Road
				.destination-underline-mobile
				.destination-body-mobile
					We’ll ride to Nubra Valley via Khardungla Pass, at 18,380 ft (in the Guiness Book of Records). After staying at a camp in the valley, we can explore the Hunder Sand Dunes, Diskit Monastery, a Balti Village or hot water springs on the way to our Siachen Base Camp.

			.row.col-md-6.destination-highlight
				.destination-image{style: "background: url('#{asset_path("background/pangonglake.jpg")}') center center no-repeat"}
					.destination-description
						.destination-title
							Pangong Tso
				.destination-subtitle-mobile
					Lakes of the Highest Altitudes
				.destination-underline-mobile
				.destination-body-mobile
					Extending all the way to China, Pangong Tso Lake glows a bright turquoise hue; making it quite the place to stop. We’ll spend the night at a field camp nearby after a long, rough ride on our way through to Sarchu.

	.col-md-12.location-inclusions{style: "background: #F5F5F5;"}
		.location-inclusions-header{style: "color: #212326;"}
			Reserve your Spot
		.col-md-10.col-md-offset-1.inclusions-container{style: "background: transparent;"}
			.priceanddate_container
				.location-date{style: "border:none; color: #212326;"}
					Aug. 21th - Sept. 2nd, 2016
				.trip-price{style: "color: #212326; padding-bottom: 40px;"}
					Entry Fee - $2,000
			.col-md-6.inclusion-exclusion-box
				.inclusions-title{style: "color: #00293c;"}
					What's Included
					<br>
					%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
					.inclusions-description-hidden{style: "color: #212326;"}
						12 Nights Accommodations
						<br>
						<br>
						Royal Enfield (500cc) Rental
						<br>
						<br>
						Lead Guide
						<br>
						<br>
						Support Truck & Driver
						<br>
						<br>
						Seasoned Mechanic
						<br>
						<br>
						Bus to and from Manali & Delhi
						<br>
						<br>
						Third Party Insurance
						<br>
						<br>
						Dinners in Camps
						<br>
						(and first/last nights)
						<br>
						<br>
						Medical Kits & Oxygen Packs
						<br>
						<br>
						Special Permits for Ladakh Region
						<br>
						<br>
			.col-md-6.inclusion-exclusion-box
				.exclusions-title{style: "color: #00293c;"}
					Not Included
					<br>
					%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
					.exclusions-description-hidden{style: "color: #212326;"}
						Fuel for Bikes
						<br>
						<br>
						Lunches & Dinners (not mentioned)
						<br>
						<br>

	.col-md-12.location-join
		.who-join
			Interested in joining?
		.who-join-description
			Drop us a line or apply
		%a{href:'/apply/socaltrifecta'}
			.join-button.btn
				Reach Out!

:javascript

	$(document).ready(function() {
	$('.location-slow-scroll').show();
	$('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});;

	$(".inclusions-title").click(function () {
	$(".inclusions-description-hidden").stop().slideToggle();
		return false;
	});

	$(".exclusions-title").click(function () {
	$(".exclusions-description-hidden").stop().slideToggle();
		return false;
	});
