- content_for(:meta_og) do
  %meta{:content => "Spirit of the Nomad", :property => "og:title"}/
  %meta{:content => "AdventureMade", :property => "og:site_name"}/
  %meta{:content => "Ride horses high into the mountains, hunt your food with eagles and stay in traditional yurts as this adventure completely immerses you in the beauty and adventure that embodies the Kyrgyz culture...", :property => "og:description"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "http://www.madebyadventure.com/kyrgyzstan", :property => "og:url"}/
  %meta{:content => "http://i.imgur.com/WPVt9ck.png", :property => "og:image"}/
  %meta{:content => "1200", :property => "og:image:width"}/
  %meta{:content => "628", :property => "og:image:height"}/

  %meta{:content => "summary_large_image", :name => "twitter:card"}
  %meta{:content => "@AdventureMade", :name => "twitter:site"}
  %meta{:content => "Spirit of the Nomad", :name => "twitter:title"}
  %meta{:content => "Ride horses high into the mountains, hunt your food with eagles and stay in traditional yurts as this adventure completely immerses you in the beauty and adventure that embodies the Kyrgyz culture...", :name => "twitter:description"}
  %meta{:content => "http://i.imgur.com/WPVt9ck.png", :name => "twitter:image:src"}/

.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/kyrgyzstanbanner.jpg")}') bottom center no-repeat"}

.location-slow-scroll
  #location-text
    #location-header
      Spirit of the Nomad
    #location-header-mobile
      Spirit of the Nomad
    #location-explanation
      Hunt with eagles. Sleep in yurts. Live the Tian Shan Mountains.

.location-details
  .col-md-12.location-itinerary
    .mission-block
      .col-md-3.mission-details-stats
        .mission-details-content
          .mission-details-title
            .fa.fa-map-marker.mission-details-icon{style:"padding-left: 8px; padding-right: 8px;"}
            The Kyrgyz Republic
          .mission-details-title
            .fa.fa-calendar.mission-details-icon
            September, 2016
          .mission-details-title
            .fa.fa-users.mission-details-icon
            4-8 Travelers
          .mission-details-title
            .fa.fa-money.mission-details-icon
            As low as $1,780
          %a{href:'/apply/kyrgyzstan'}
            .mission-apply-button
              Request Invite

      .col-md-12.mobile-trip-stats
        .mission-details-content
          .mission-details-title
            .fa.fa-map-marker.mission-details-icon{style:"padding-left: 8px; padding-right: 8px;"}
            The Kyrgyz Republic
          .mission-details-title
            .fa.fa-calendar.mission-details-icon
            September, 2016
          .mission-details-title
            .fa.fa-users.mission-details-icon
            4-8 Travelers
          .mission-details-title
            .fa.fa-money.mission-details-icon
            TBD
          %a{href:'/apply/kyrgyzstan'}
            .mission-apply-button
              Request Invite

      .col-md-8.col-md-offset-1.mission-text-box
        .mission-body
          Like the merchants who once traversed this mountainous stretch of the Silk Road, you’ll travel with a caravan of shepherds, falconers, and local guides across the Kyrgyz highlands, hunting with eagles, riding on horseback, and staying in yurts. <br><br>This is an active 10-day journey, passing through the hidden valleys of the Central Asian steppe and windswept passes of the Tian Shan mountains. The Kyrgyz take great pride in the snow-capped peaks, charging rivers, cavernous gorges, and deep-green forested valleys that make up their homeland. Both an outdoor and cultural adventure, you’ll have the chance to soak up their culture and live as they live, making lasting friendships along the way.<br><br>Most of the journey will be spent on horseback and foot as we navigate alpine meadows and lakes, traversing mountain passes (up to 13,000 ft.) and the high pastures of local herdsmen. After a long day of trekking, relax in traditional Kyrgyz yurts, intimate mountain huts, and pristine tented camps. Our diet will mirror the fresh, seasonal dishes of the locals. Activities include traditional hunting with Berkut eagles, high-alpine trekking to natural hot springs, horseback riding to remote shepherds camps, and ample opportunities to learn about the rich history of the Tian Shan Mountain Range.
 

  .col-md-12.location-who
    .who-container
      #meet-the-team
        .who-text
          %img.traveler-image{style: "background: url('#{asset_path("travelers/profileryanb.jpg")}') center center no-repeat"}
          .who-name
            Meet the Team
          .who-title
            3 more travelers to unlock trip!
          .who-description
      .who-travelers-container
        .who-image-button{"data-name" => "Ryan", "data-location" => "Salt Lake City, UT", "data-description" => "Husband, Father, Adventurer - Friend to remote mountain communities who are fighting poverty with ecotourism and hospitality. Utah is home.", "data-image-url" => "#{asset_url("travelers/profileryanb.jpg")}", style: "background: url('#{asset_path("travelers/profileryanbsmall.jpg")}') center center no-repeat"}
        .who-image-button{style: "background: url('#{asset_path("icons/Avatar2.png")}') center center no-repeat"}
        .who-image-button{style: "background: url('#{asset_path("icons/Avatar3.png")}') center center no-repeat"}
        .who-image-button{style: "background: url('#{asset_path("icons/Avatar4.png")}') center center no-repeat"}
      .who-travelers-container
        .who-image-button{style: "background: url('#{asset_path("icons/AvatarWhite5.png")}') center center no-repeat"}
        .who-image-button{style: "background: url('#{asset_path("icons/AvatarWhite6.png")}') center center no-repeat"}
        .who-image-button{style: "background: url('#{asset_path("icons/AvatarWhite7.png")}') center center no-repeat"}
        .who-image-button{style: "background: url('#{asset_path("icons/AvatarWhite8.png")}') center center no-repeat"}

  .col-md-12.location-description
    .team-leader-container
      .col-md-12
        .description-guide-image{style: "background: url('#{asset_path("travelers/guideprofileruslan.jpg")}') center center no-repeat"}
        .guide-name
          Ruslan
        .guide-title
          Adventure Leader
        .guide-description
          Ruslan comes from a long line of traditional falconers and hunters. His ancestors used highly trained eagles, falcons, and other birds of prey to capture foxes, rabbits, and other animals for meat and pelts. Today the countless hours Ruslan spends training his eagles not only provides food and furs for his family, but also 50% of his annual income is generated by taking foreigners on backcountry hunting expeditions.

  .col-md-12.destination-container
    .basecamps-title
      A Few Highlights
    .highlight-gallery
      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/eaglehunting.jpg")}') right center no-repeat"}
          .destination-description
            .destination-title
              Hunting with Eagles
            %a
              .destination-button{"data-num" => 1, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'A Nomadic Art and Tradition', 'data-body' => "Hunting with Berkut eagles is an ancient tradition that was born on the Eurasian steppe. A thousand-year-old practice, this form of sustenance hunting has been passed from generation to generation. A Kyrgyz cultural symbol, this once common form of hunting has slowly started to disappear; however, falconers like Ruslan and his family are keeping this alive. You’ll learn about their way of life and the cultural legacy passed down to them by their ancestors.", 'data-img-src' => "#{asset_url("background/eaglehunting.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          A Nomadic Art and Tradition
        .destination-underline-mobile
        .destination-body-mobile
          Join Kyrgyz eagle hunters and falconers on a three-day trek. Witness the ancient tradition and the raw power of these massive birds.
  
      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/kyrgyzstanhorseback.jpg")}') center center no-repeat"}
          .destination-description
            .destination-title
              Life on Horseback
            %a
              .destination-button{"data-num" => 2, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'Experiencing the Nomadic Heritage', 'data-body' => "The ideal way to see Kyrgyzstan is from the saddle. The nomadic people of central Asia have long relied on horses to navigate the region. Hearty, strong, and loyal, horses have enabled the Kyrgyz culture to flourish in this mountainous landscape. <br><br>Your horse will be your best friend for much of this journey. You’ll learn to adapt and embrace a slower pace of life, while also covering large expanses and distances each day.  Moving slowly affords you the opportunity to experience Kyrgyzstan in a very personal way. You’ll pass through small towns, shepherds camps (known as “jialoo”), and vast unpopulated landscapes. Exposed to the elements, you’ll breathe the crisp air, marvel at the jagged, snow-covered peaks, and feel the change in the air, as people and animals prepare for winter. Along the way, you’ll pass glaciated peaks, lunch with local shepherds, and camp in mountain pastures.", 'data-img-src' => "#{asset_url("background/kyrgyzstanhorseback.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Experiencing the Nomadic Heritage
        .destination-underline-mobile
        .destination-body-mobile
          Cross the Tian Shan mountain range by horse, experiencing the breathtaking scenery and rich culture of the region.

      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/kyrgyzstantrekking.jpg")}') center center no-repeat"}
          .destination-description
            .destination-title
              High Altitude Trekking
            %a
              .destination-button{"data-num" => 3, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp2', 'data-title' => 'Discover the Roof of Central Asia', 'data-body' => "Kyrgyzstan is a dream destination for mountain lovers. Sitting high on the Central Asian plateau it is home to dramatic craggy peaks, fresh alpine lakes, and idyllic pastoral valleys. The landscape is rugged and diverse. You’ll cover a variety of geographies and historical sites, including ancient petroglyphs, magnificent rock formations, and glacial waterfalls. The days will be long and strenuous, but undoubtedly rewarding. Nothing compares to relaxing in a natural outdoor thermal bath after trekking all day. These simple moments and the camaraderie of traveling as a team for over a week, make this experience a lasting memory. ", 'data-img-src' => "#{asset_url("background/kyrgyzstantrekking.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Discover the Roof of Central Asia
        .destination-underline-mobile
        .destination-body-mobile
          Trek through high elevation mountain passes in the shadows of the surrounding peaks of the Tian Shan mountains, which reach elevations up to 24,000 feet. While trekking you'll explore the beauty that surrounds the glimmering waters of Lake Issyk Kul, known as the “blue pearl”.

      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/yurtlife.jpg")}') left center no-repeat"}
          .destination-description
            .destination-title
              Yurt & Village Stays
            %a
              .destination-button{"data-num" => 4, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp3', 'data-title' => 'Authentic Culture and Home Cooked Meals', 'data-body' => "The entirety of the 10-day adventure will be spent in local homestays, guest houses, and yurts. While luxury hotels do exist in many parts of Kyrgyzstan, a lack of large-scale tourism means that accommodation in rural Kyrgyzstan remains fairly undeveloped. Accommodation will be rustic, but welcoming. This trip focuses strongly on cultural exchange. You’ll have ample opportunity to learn about Kyrgyz heritage, culture, and food by participating directly in a household setting.<br><br>Some nights will be spent in remote alpine valleys, while others will be spent in towns and villages. You’ll visit ancient mosques, Russian orthodox churches, and a Kyrgyz carpet maker in addition to the many natural attractions.", 'data-img-src' => "#{asset_url("background/yurtlife.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Authentic Culture and Home Cooked Meals
        .destination-underline-mobile
        .destination-body-mobile
          Rest easy, after a long day of trekking in a traditional Kyrgyz tent. Re-fuel on home cooked meals and swap stories around the fire.
    
  .col-md-12.location-inclusions{style: "background: #F5F5F5;"}
    .col-md-10.col-md-offset-1.inclusions-container{style: "background: transparent;"}
      .location-inclusions-header{style: "color: #aa4b41;"}
        7 Spots Left!
      .location-inclusions-header{style: "color: #212326;"}
        September, 2016
      .price-description
        For each person that joins, everyone's price drops!
      .priceanddate_container
        .trip-price{style: "padding-bottom: 8px; padding-top: 24px; font-size: 2em;"}
          4 People: $2,299
        .trip-price{style: "padding-bottom: 8px; opacity: 0.8; font-size: 1.2em;"}
          5 People: $2,225
        .trip-price{style: "padding-bottom: 8px; opacity: 0.8; font-size: 1.2em;"}
          6 People: $2,025
        .trip-price{style: "padding-bottom: 8px; opacity: 0.8; font-size: 1.2em;"}
          7 People: $1,950
        .trip-price{style: "padding-bottom: 8px; opacity: 0.8; font-size: 1.2em;"}
          8 People: $1,780
      .col-md-6.inclusion-exclusion-box
        .inclusions-title{style: "color: #00293c;"}
          What's Included
          <br>
          %i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
          .inclusions-description-hidden{style: "color: #212326;"}
            All accommodations (yurts, tents, local homestays)
            <br>
            <br>
            All in-country transportation
            <br>
            <br>
            All meals
            <br>
            <br>
            Horse
            <br>
            <br>
            8-day horseback trek with local shepherds
            <br>
            <br>
            3-day hunting adventure with traditional Berkut eagles
            <br>
            <br>
            3-day mountain trek with local shepherds
            <br>
            <br>
      .col-md-6.inclusion-exclusion-box
        .exclusions-title{style: "color: #00293c;"}
          Not Included
          <br>
          %i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
          .exclusions-description-hidden{style: "color: #212326;"}
            Travel insurance
            <br>
            <br>
            International flights
            <br>
            <br>
            Additional meals or drinks
            <br>
            <br>

  .col-md-12.location-join
    .who-join
      Interested in joining?
    %a{href:'/apply/Morocco'}
      .join-button.btn
        Request Invite

/  .col-md-12.similar-trips
/    .similar-trips-header
/      Why stop with Morocco?
/    %a{href:'/colombia'}
/      .col-md-4.similar-trip-container
/        .similar-trip-image{style: "background: url('#{asset_path("background/WhiteWaterColombiaMain-mini.jpg")}') bottom center no-repeat"}
/          .similar-trip-title
/            EXPEDITION SAMANA
/        .similar-trip-guide{style: "background: url('#{asset_path("background/julesguide-mini.jpg")}') center center no-repeat"}
/        .similar-trip-textbox
/          .similar-trip-text
/            Expedition Samana
/          .similar-trip-guide-text
/            with Jules D.
/        .similar-trip-btn
/          View Trip
/    %a{href:'/peru'}
/      .col-md-4.similar-trip-container
/        .similar-trip-image{style: "background: url('#{asset_path("background/packraftjunglemain-mini.jpg")}') bottom center no-repeat"}
/          .similar-trip-title
/            PACKRAFT THE AMAZON
/        .similar-trip-guide{style: "background: url('#{asset_path("background/paul-mini.png")}') center center no-repeat"}
/        .similar-trip-textbox
/          .similar-trip-text
/            Adventure & Conflict in the Amazon
/          .similar-trip-guide-text
/            with Paul R.
/        .similar-trip-btn
/          View Trip
/    %a{href:'/socaltrifecta'}
/      .col-md-4.similar-trip-container
/        .similar-trip-image{style: "background: url('#{asset_path("background/TrestlesBeach-mini.jpeg")}') center center no-repeat"}
/          .similar-trip-title
/            SOCAL TRIFECTA
/        .similar-trip-guide{style: "background: url('#{asset_path("background/QuinnSmiles-mini.jpg")}') center center no-repeat"}
/        .similar-trip-textbox
/          .similar-trip-text
/            The SoCal Trifecta
/          .similar-trip-guide-text
/            with Quinn C.
/        .similar-trip-btn
/          View Trip
/   %a{href:'/india'}
/     .col-md-4.similar-trip-container
/       .similar-trip-image{style: "background: url('#{asset_path("background/IndiaMountains-mini.jpg")}') bottom center no-repeat"}
/       .similar-trip-guide{style: "background: url('#{asset_path("background/manojprofile-mini.jpg")}') center center no-repeat"}
/       .similar-trip-textbox
/         .similar-trip-text
/           Riding the Roof of the World
/         .similar-trip-guide-text
/           with Manoj K.


:javascript

  $(document).ready(function() {
  $('.location-slow-scroll').show();
  $('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
  });

  $(document).ready(function() {
    
    $('body *').each( function(){
       
      var top_of_object = $(this).position().top;
      var bottom_of_window = $(window).scrollTop() + $(window).height();
       
      if( bottom_of_window < top_of_object  ){
      
        $(this).addClass('hideme').css({'opacity':'0'});  
      } 
    });
    
    $(window).scroll( function(){
      
      $('.hideme').each( function(i){
        
        var bottom_of_window = $(window).scrollTop() + $(window).height();
        var top_of_object = $(this).position().top;
        
          if( bottom_of_window > ( top_of_object + 100 )  ){
          
            $(this).removeClass('hideme').animate({'opacity':'1'},800); 
          }
      }); 
    });
  });;

  $(".inclusions-title").click(function () {
  $(".inclusions-description-hidden").stop().slideToggle();
    return false;
  });

  $(".exclusions-title").click(function () {
  $(".exclusions-description-hidden").stop().slideToggle();
    return false;
  });
                 
  $(".who-image-button").on("click", function() {
    $('.who-image-button').css('border', '0px solid #fff');
    $(this).css('border','4px solid #fff');
    
    $('.who-name').html($(this).data('name'))
    $('.who-title').html($(this).data('location'))
    $('.who-description').html($(this).data('description'))
    var img_url = $(this).data('image-url')
     $('.traveler-image').attr('src', img_url);
      console.log(img_url)
  });


