- content_for(:meta_og) do
  %meta{:content => "The Berber Traverse", :property => "og:title"}/
  %meta{:content => "MadebyAdventure", :property => "og:site_name"}/
  %meta{:content => "A high-adrenaline women's surf & bike adventure across Morocco", :property => "og:description"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "http://www.madebyadventure.com/morocco", :property => "og:url"}/
  %meta{:content => "http://i.imgur.com/mhXlBFl.png", :property => "og:image"}/
  %meta{:content => "1200", :property => "og:image:width"}/
  %meta{:content => "628", :property => "og:image:height"}/

  %meta{:content => "summary_large_image", :name => "twitter:card"}
  %meta{:content => "@AdventureMade", :name => "twitter:site"}
  %meta{:content => "The Berber Traverse", :name => "twitter:title"}
  %meta{:content => "A high-adrenaline women's surf & bike adventure across Morocco http://goo.gl/YXDo0l", :name => "twitter:description"}
  %meta{:content => "http://i.imgur.com/mhXlBFl.png", :name => "twitter:image:src"}/


.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/moroccocover.jpeg")}') left center no-repeat"}

.location-slow-scroll
  #location-text
    #location-header
      The Berber Traverse
    #location-header-mobile
      The Berber Traverse
    #location-explanation
      A high-adrenaline women's surf & bike adventure across Morocco.

.location-details
  .col-md-12.location-itinerary
    .mission-block
      .mission-details-stats
        .mission-details-content
          .col-md-3.mission-details-title
            .fa.fa-map-marker.mission-details-icon{style:"padding-left: 8px; padding-right: 8px;"}
            Morocco
          .col-md-3.mission-details-title
            .fa.fa-calendar.mission-details-icon
            Sep 1st-12th 2016
          .col-md-3.mission-details-title
            .fa.fa-users.mission-details-icon
            5-8 Travelers
          .col-md-3.mission-details-title
            .fa.fa-money.mission-details-icon
            As low as $1,750
        %a{href:'/apply/morocco'}
          .mission-apply-button
            Request Invite

      .col-md-offset-1.mission-text-box
        .mission-body
          #preview-body-text
            Tackle Morocco’s legendary single track riding and soak up the friendly vibes of Berber mountain country. Dipping in and out of rust colored hillsides, palm carpeted desert canyons, and high mountain passes, we’ll ride for 5-6 glorious days. It promises to feel both familiar and wildy different than your rides back home. On the comfort of a full suspension bike, we’ll hit up old trading routes, cart paths, goat trails, dry riverbeds, flowing single track, and coastal roads. Anything it takes to get from the mountain to the coast.
            <br>
            <br>
          #readmore-body-text
            Read more
          #expanded-body-text
            All great challenges have a glorious reward. For us, that reward is the sparkling blue waters of the Atlantic Ocean and the chilled-out surf camp waiting at the end of the road. Soak your bones in the cool waters of the Atlantic, paddle out for a quiet SUP yoga session, or just lay around like a lazy bum. Your call. Our journey will start and end in the gem of the desert, the walled city of Marrakech. 
            <br>
            <br>
            %i Oh, and this a ladies only trip. Apologies to any guys who’ve gotten to this point and just had their hopes crushed. Sincerely sorry. 

  .col-md-12.location-who
    .who-container
      #meet-the-team
        .who-text
          %img.traveler-image{style: "background: url('#{asset_path("travelers/profilelaurie.jpg")}') center center no-repeat"}
          .who-name
            Meet the Team
          .who-title
            2 Spots Left!
          .who-description
      .who-travelers-container
        .who-image-button{"data-name" => "Laurie T.", "data-location" => "Boulder, CO", "data-description" => "I'm an adventure-loving lady who spends every weekend exploring the Rocky Mountains by bike, snowboard, or foot. I work with Outdoor Women’s Alliance—a worldwide media and adventure collective nonprofit whose mission is to get other adventure-loving ladies outside.", "data-image-url" => "#{asset_url("travelers/profilelaurie.jpg")}", style: "background: url('#{asset_path("travelers/profilelauriesmall.jpg")}') center center no-repeat"}
        .who-image-button{"data-name" => "Eva H.", "data-location" => "Longmont, CO", "data-description" => "Polish Native who loves mountain sports & exploring culture, currently living in Colorado. This trip combines my 3 favorite activities: mountain biking, surfing and yoga.", "data-image-url" => "#{asset_url("travelers/profileeva.jpeg")}", style: "background: url('#{asset_path("travelers/profileevasmall.jpeg")}') center center no-repeat"}
        .who-image-button{"data-name" => "Mary M.", "data-location" => "Victoria, BC", "data-description" => "I was raised on freshwater lakes and am a lover of all water-based sports! Although new to mountain biking, I'm excited ride Morocco's Atlas Mountains.", "data-image-url" => "#{asset_url("travelers/profilemary.jpeg")}", style: "background: url('#{asset_path("travelers/profilemarysmall.jpeg")}') center center no-repeat"}
        .who-image-button{"data-name" => "Sofia C.", "data-location" => "Boulder, CO", "data-description" => "Very excited to be connecting with a badass group of girls. Explorer of rugged terrain, marketer of ethical business, and volunteer at Outdoor Women's Alliance.", "data-image-url" => "#{asset_url("travelers/profilesofia.jpeg")}", style: "background: url('#{asset_path("travelers/profilesofiasmall.jpeg")}') center center no-repeat"}
      .who-travelers-container
        .who-image-button{"data-name" => "Awnalisa M.", "data-location" => "Salt Lake City, UT", "data-description" => "I've done a lot of traveling but mostly as your average tourist. Ready to change that! I love mountain biking, climbing, wake boarding, backpacking and anything else that is fun and outside.", "data-image-url" => "#{asset_url("travelers/profileawnalisa.jpeg")}", style: "background: url('#{asset_path("travelers/profileawnalisasmall.jpeg")}') center center no-repeat"}
        .who-image-button{"data-name" => "Madeline P.", "data-location" => "Boulder, CO", "data-description" => "I'm an Oregon native, living the outdoor-lover's dream in Colorado while working as a web developer. I'm beyond excited to connect with amazing women and push myself in a new sport.", "data-image-url" => "#{asset_url("travelers/profilemadeline.jpg")}", style: "background: url('#{asset_path("travelers/profilemadelinesmall.jpg")}') center center no-repeat"}
        .who-image-button{style: "background: url('#{asset_path("icons/AvatarWhite7.png")}') center center no-repeat"}
        .who-image-button{style: "background: url('#{asset_path("icons/AvatarWhite8.png")}') center center no-repeat"}

  .col-md-12.location-description
    .team-leader-container
      .col-md-12
        .description-guide-image{style: "background: url('#{asset_path("travelers/guideprofilelahcen.jpg")}') center center no-repeat"}
        .guide-name
          Lahcen
        .guide-title
          Adventure Leader
        .guide-description
          A 15 year mountain bike veteran in the Atlas region, Lahcen will show us the way from the peaks of the Atlas to the Sea. Like a walking rosetta stone, he is fluent in French, English, Arabic, Berber, and single track descents. His knowledge of the Atlas Mountains and Sahara Desert is unrivaled. His team includes a support driver and private chef, who whips up a mean tagine, and Houssain who helps run the show behind the scenes, organizing accommodation and transportation.

          
  .col-md-12.destination-container
    .basecamps-title
      A Few Highlights
    .highlight-gallery
      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/MoroccoMarrakech3.jpeg")}') bottom center no-repeat"}
          .destination-description
            .destination-title
              Marrakech
            %a
              .destination-button{"data-num" => 1, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'Secrets of the Walled City', 'data-body' => "Marrakech explodes with life and color. A literal maze of a city, this UNESCO world heritage site will be our homebase for the first two days. Get lost in the souks, sip on mint tea, or mingle in the smoky night market, Jemma el Fna.<br><br>Upon arrival in Marrakech, you’ll be transferred from the airport to our Riad, where you can drop off your bags and relax. A riad is essentially a traditional Moroccan mansion that centers around a courtyard with a pool or fountains. Typically several stories high, these ancient structures are the preferred form of accommodation in Marrakech. Kick back on the breezy patio of the riad and look out over the vast buzzing city that is Marrakech. With the soundtrack of children playing in the streets below, motorcycles whizzing by, and the solemn song of the call to prayer, relax and get to know the group who you’ll be riding for the next week.<br><br>Our 2 days in Marrakech are loosely structured. The city is easily navigable by foot without a guide. As a group, or independently, explore the bustling markets, check out the street food, or even charter a private camel trek for the day through the nearby desert. Marrakech is a magical city that holds a surprise around every corner. You may find yourself getting lost in the most enjoyable way. Raw and refined, exotic and glamorous, ancient and modern. It is a city alive with history and buzzing with energy", 'data-img-src' => "#{asset_url("background/MoroccoMarrakech.jpeg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Secrets of the Walled City
        .destination-underline-mobile
        .destination-body-mobile
          This city-maze and UNESCO world heritage site, will be our homebase for the first two days. Get lost in the souks, sip on mint tea...
  
      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/MoroccoAtlasMtns.jpeg")}') center center no-repeat"}
          .destination-description
            .destination-title
              High Atlas MTB
            %a
              .destination-button{"data-num" => 2, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'Desert Single Track Paradise', 'data-body' => "Under the shadow of the snow capped Mount Toubkal, we start our journey. Crisp air, mountain streams, and a chorus of goats produce the soundtrack for several days of flowing single track across this high mountain expanse.<br><br>Our journey takes us from the base of Mount Toubkal, at over 13,000 ft, to the sunny coast of western Morocco. Most days on the ride start and end in the same way, smiles and conversation around a cup of tea and a freshly cooked Moroccan meal. What happens in between is highly variable and is what makes riding in Morocco so unique. From the rust colored hillsides to the forested mountain tops every hour is different than the last. With our trusted guide, Lahcen, in the lead, we’ll follow winding ribbons of single track through this peaceful land.<br><br>Our route takes us through rugged gorges, rocky plateaus, and palm shaded valleys. Through the last several hundred years, the people of the Atlas Mountains have unintentionally built one of the greatest mountain biking networks in the world. Ancient cart paths, meandering animal trails, and seasonal river beds provide a system of trails that is unmatched. Our daily rides range from 35 km to 50 km, with typically 500 m of total daily ascents. With a support vehicle trailing us for much of the journey, it is possible to opt out of certain ascents. The goal of this trip is to be challenging, but not exclusive. Sitting around the dinner table each night, you should have a great feeling of accomplishment.<br><br>Highlights of the ride include Mount Toubkal, a towering snow covered peak, home to a ski area, and paradise valley, a desert gorge with baby blue waters to swim in, among many others.", 'data-img-src' => "#{asset_url("background/Moroccotrailinmtns.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Desert Single Track Paradise
        .destination-underline-mobile
        .destination-body-mobile
          Under the shadow of the snow capped Mount Toubkal, we start our journey. Crisp air, mountain streams, and a chorus...

      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/MoroccoBerber.jpg")}') center center no-repeat"}
          .destination-description
            .destination-title
              Berber Village Stay
            %a
              .destination-button{"data-num" => 3, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp2', 'data-title' => 'Rustic Nights in the Atlas', 'data-body' => "Experience legendary Berber hospitality and culture by spending each night in a local guesthouse, indulge in homemade tangier dishes and strolling the quiet dusty streets at dusk. Like glamping, but better. Prep your pearly whites, as a passing smile is an accepted currency in the region.<br><br>The Berbers are an ancient Moroccan culture that have called the Atlas Mountains of Morocco home for more than 4,000 years. Historically traders, many modern Berber families have settled in the mountains as shepherds, farmers, craftspeople and even tour guides. The accommodations during our bike ride will be a combination of local B&B’s and Berber guesthouses so we can further experience the culture of the region.<br><br>We’ll arrive in a new village at the end of each ride with time to relax, take a nap in the sun, or explore the surroundings by foot. Life moves at a much slower pace here than in the bustling streets of Marrakech. You’ll find the people in this region are friendly, open and willing to share a piece of their lifestyle. Seeing far less tourists than other parts of Morocco, many of these villages host weekly markets, which present an opportunity to witness the commerce and culture of the region.", 'data-img-src' => "#{asset_url("background/MoroccoBerber.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Rustic Nights in the Atlas
        .destination-underline-mobile
        .destination-body-mobile
          Experience legendary Berber culture, indulge in homemade tangier dishes and explore the unique region...

      .row.col-md-6.destination-highlight
        .destination-image{style: "background: url('#{asset_path("background/moroccocoastal.jpg")}') center center no-repeat"}
          .destination-description
            .destination-title
              Tamraght Surf Camp
            %a
              .destination-button{"data-num" => 4, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp3', 'data-title' => 'Heaven on Africa’s Western Shores', 'data-body' => "Most people have no idea there’s a thriving surf culture on the far western reaches of the African continent, but there is. Post up at the hip Magic Surf Camp, swapping surf reports with expat surf bros, settle in for a morning yoga session, or read a book on the shady Riad balcony.<br><br>The smell of cool salty air announces our arrival at the coast on the 5th day of riding. After several days of challenging riding on dusty trails, the calming breeze of the ocean will breathe life into our group. There’s a relaxing vibe to Morocco's coastal surf towns, but also an unexpected youthful exuberance, generated by the surf explorers and adventure enthusiasts that have come to settle here.<br><br>Our host, Sabine, and her team at Magic Surf Camp have helped plan the perfect retreat. This is the beach holiday you dream of while sitting at your desk in the dead of winter, except way cooler. There will be plenty of time to relax on the beach, sip beers at the beach side restaurants, and catch up on your reading list, but there will also be a healthy dose of activity.<br><br>Included in our surf camp stay is breakfast and a yoga session each morning. The highlight of each afternoon is a guided surf (or SUP) expedition, where a surf instructor will take the group to a different surf location on the coast and provide a lesson if you need it. A perfect opportunity to finally learn how to surf and also experience the different beaches and breaks along the coast. Daily yoga and surf expeditions are included, but totally optional. Your stay at the surf camp is what you make of it. You won’t want to miss the home cooked family style meals served nightly.", 'data-img-src' => "#{asset_url("background/moroccocoastal.jpg")}"}
                View Checkpoint
        .destination-subtitle-mobile
          Heaven on Africa’s Western Shores
        .destination-underline-mobile
        .destination-body-mobile
          Surf, SUP, Sip, and relax in our coastal haven filled with salty air, cold beers, yoga sessions and homemade meals...
    
  .col-md-12.location-inclusions{style: "background: #F5F5F5;"}
    .col-md-10.col-md-offset-1.inclusions-container{style: "background: transparent;"}
      .location-inclusions-header{style: "color: #aa4b41;"}
        2 Spots Left!
      .location-inclusions-header{style: "color: #212326;"}
        September 1st-12th, 2016
      .price-description
        For each person that joins, everyone's price drops!
      .priceanddate_container
        .trip-price{style: "padding-bottom: 8px; text-decoration: line-through; opacity: 0.8;"}
          5 People: $2,310
        .trip-price{style: "padding-bottom: 8px; text-decoration: line-through; opacity: 0.8;"}
          6 People: $2,074
        .trip-price{style: "padding-bottom: 8px; font-family: proxima_black; font-size: 2.4em;"}
          7 People: $1,955
        .trip-price{style: "padding-bottom: 40px; opacity: 0.8; font-size: 2em;"}
          8 People: $1,732
      .col-md-6.inclusion-exclusion-box
        .inclusions-title{style: "color: #00293c;"}
          What's Included
          <br>
          %i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
          .inclusions-description-hidden{style: "color: #212326;"}
            All Accommodations
            <br>
            <br>
            Guide and Support Vehicle
            <br>
            <br>
            Surf Lessons and Yoga
            <br>
            <br>
            Surf and SUP Equipment
            <br>
            <br>
            Full Suspension Bike Rental
            <br>
            <br>
            Meals on Bike Trip and at Surf Camp
            <br>
            <br>
            Private Transportation from Start and End Points
            <br>
            <br>
            Airport Transfers
            <br>
            <br>
      .col-md-6.inclusion-exclusion-box
        .exclusions-title{style: "color: #00293c;"}
          Not Included
          <br>
          %i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
          .exclusions-description-hidden{style: "color: #212326;"}
            Travel Insurance
            <br>
            <br>
            Meals Not Specified
            <br>
            <br>
            Entrance Fees and Tips
            <br>
            <br>
            Drinks (Alcohol, Soda, etc...)
            <br>
            <br>

  .col-md-12.location-join
    .who-join
      Interested in joining?
    %a{href:'/apply/Morocco'}
      .join-button.btn
        Request Invite

/  .col-md-12.similar-trips
/    .similar-trips-header
/      Why stop with Morocco?
/    %a{href:'/colombia'}
/      .col-md-4.similar-trip-container
/        .similar-trip-image{style: "background: url('#{asset_path("background/WhiteWaterColombiaMain-mini.jpg")}') bottom center no-repeat"}
/          .similar-trip-title
/            EXPEDITION SAMANA
/        .similar-trip-guide{style: "background: url('#{asset_path("background/julesguide-mini.jpg")}') center center no-repeat"}
/        .similar-trip-textbox
/          .similar-trip-text
/            Expedition Samana
/          .similar-trip-guide-text
/            with Jules D.
/        .similar-trip-btn
/          View Trip
/    %a{href:'/peru'}
/      .col-md-4.similar-trip-container
/        .similar-trip-image{style: "background: url('#{asset_path("background/packraftjunglemain-mini.jpg")}') bottom center no-repeat"}
/          .similar-trip-title
/            PACKRAFT THE AMAZON
/        .similar-trip-guide{style: "background: url('#{asset_path("background/paul-mini.png")}') center center no-repeat"}
/        .similar-trip-textbox
/          .similar-trip-text
/            Adventure & Conflict in the Amazon
/          .similar-trip-guide-text
/            with Paul R.
/        .similar-trip-btn
/          View Trip
/    %a{href:'/socaltrifecta'}
/      .col-md-4.similar-trip-container
/        .similar-trip-image{style: "background: url('#{asset_path("background/TrestlesBeach-mini.jpeg")}') center center no-repeat"}
/          .similar-trip-title
/            SOCAL TRIFECTA
/        .similar-trip-guide{style: "background: url('#{asset_path("background/QuinnSmiles-mini.jpg")}') center center no-repeat"}
/        .similar-trip-textbox
/          .similar-trip-text
/            The SoCal Trifecta
/          .similar-trip-guide-text
/            with Quinn C.
/        .similar-trip-btn
/          View Trip
/   %a{href:'/india'}
/     .col-md-4.similar-trip-container
/       .similar-trip-image{style: "background: url('#{asset_path("background/IndiaMountains-mini.jpg")}') bottom center no-repeat"}
/       .similar-trip-guide{style: "background: url('#{asset_path("background/manojprofile-mini.jpg")}') center center no-repeat"}
/       .similar-trip-textbox
/         .similar-trip-text
/           Riding the Roof of the World
/         .similar-trip-guide-text
/           with Manoj K.


:javascript

  $(document).ready(function() {
  $('.location-slow-scroll').show();
  $('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
  });

  $(document).ready(function() {
    
    $('body *').each( function(){
       
      var top_of_object = $(this).position().top;
      var bottom_of_window = $(window).scrollTop() + $(window).height();
       
      if( bottom_of_window < top_of_object  ){
      
        $(this).addClass('hideme').css({'opacity':'0'});  
      } 
    });
    
    $(window).scroll( function(){
      
      $('.hideme').each( function(i){
        
        var bottom_of_window = $(window).scrollTop() + $(window).height();
        var top_of_object = $(this).position().top;
        
          if( bottom_of_window > ( top_of_object + 100 )  ){
          
            $(this).removeClass('hideme').animate({'opacity':'1'},800); 
          }
      }); 
    });
  });;

  $(".inclusions-title").click(function () {
  $(".inclusions-description-hidden").stop().slideToggle();
    return false;
  });

  $(".exclusions-title").click(function () {
  $(".exclusions-description-hidden").stop().slideToggle();
    return false;
  });

  $(".who-image-button").on("click", function() {
    $('.who-image-button').css('border', '0px solid #fff');
    $(this).css('border','4px solid #fff');
    
    $('.who-name').html($(this).data('name'))
    $('.who-title').html($(this).data('location'))
    $('.who-description').html($(this).data('description'))
    var img_url = $(this).data('image-url')
     $('.traveler-image').attr('src', img_url);
      console.log(img_url)
  });

  $("#readmore-body-text").click(function(){
    $("#expanded-body-text").fadeIn('slow');
    $(this).hide()
  });
