- content_for(:meta_og) do
	%meta{:content => "Crocs and Conflict - By Max J.", :property => "og:title"}/
	%meta{:content => "AdventureMade", :property => "og:site_name"}/
	%meta{:content => "We're tackling the mighty Rio Verde and Rio Samana, from the Colombian highlands to the dense jungles of the tropical rainforest.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/colombia", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/eegZ8J1.png", :property => "og:image"}/
	%meta{:content => "1437", :property => "og:image:width"}/
	%meta{:content => "752", :property => "og:image:height"}/

.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/moroccocover.jpeg")}') center center no-repeat"}

.location-slow-scroll
	#location-text{style: "text-shadow: 1px 1px 5px rgba(0,0,0,1);"}
		#location-header
			The Berber Traverse
		#location-explanation
			A high adrenaline mountain bike crossing of Morocco, from the Atlas mountains to the Atlantic Ocean.
		#location-header-mobile
			The Berber Traverse
		#location-explanation-mobile
			A high adrenaline mountain bike crossing of Morocco, from the Atlas mountains to the Atlantic Ocean.
		#created-by
			Made by: Laurie T.

.location-details
	.col-md-12.location-itinerary
		.col-md-12.mission-block
			.mission-header
				The Mission
			.mission-body
				Tackle Morocco’s legendary single track riding and soak up the friendly vibes of Berber mountain country. Dipping in and out of rust colored hillsides, palm carpeted desert canyons, and high mountain passes, we’ll ride for 5-6 glorious days. It promises to feel both familiar and wildy different than your rides back home. On the comfort of a full suspension bike, we’ll hit up old trading routes, cart paths, goat trails, dry riverbeds, flowing single track, and coastal roads. Anything it takes to get from the mountain to the coast.
				<br>
				<br>
				All great challenges have a glorious reward. For us, that reward is the sparkling blue waters of the Atlantic Ocean and the chilled-out surf camp waiting at the end of the road. Soak your bones in the cool waters of the Atlantic, paddle out for a quiet SUP yoga session, or just lay around like a lazy bum. Your call. Our journey will start and end in the gem of the desert, the walled city of Marrakech.
				<br>
				<br>
				%i Oh, and this a ladies only trip. Apologies to any guys who’ve gotten to this point and just had their hopes crushed. Sincerely sorry.


	.col-md-12.location-description
		.description-title
			The Team
		.col-md-6	
			.description-guide-image{style: "background: url('#{asset_path("background/paul-guide.png")}') center center no-repeat"}
			.guide-name
				Paul R.
			.guide-border
			.guide-title
				Adventure Leader
			.guide-description
				Our adopted jungle family is headed by 
				%a{href: 'http://paulrosolie.com/' , target: '_blank', style: "font-weight: bold;"} Paul Rosolie, 
				conservationist and borderline wild man. Paul authored the award winning book Mother of God: An Extraordinary Journey into the Uncharted Tributaries of the Western Amazon and has explored parts of the jungle, few have dreamed of visiting. He is part of the larger Tamandua Jungle team that includes the Duran family, an indigenous Ese-Eja family, and several others who man the research station.

				
		.col-md-6	
			%a{href:'/apply/Morocco'}
				.description-guide-image{style: "background: url('#{asset_path("background/laurieprofile.jpg")}') center center no-repeat"}
			.guide-name
				Laurie T.
			.guide-border
			.guide-title
				Adventure Ambassador
			
			.guide-description
				Paul has created a one-time trip that is sure to be one hell of an experience. We're looking for the most adventurous traveler to be the trip ambassador. This means, you get to craft the team and go on the trip for free. Send us a note and tell us why you're the best candidate!


	.col-md-12.destination-container
		.basecamps-title
			A Few Highlights
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/moroccowater.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Marrakech
					.destination-title-underline
					.destination-subtitle
						Your Jungle Homebase
					.destination-body
						The ancient walled city of Marrakech explodes with life and color. A literal maze of a city, this UNESCO world heritage site, will be homebase for our first few days. Get lost in the souks, sip on mint tea, or mingle in the smoky night market, Jemma el fna.  
			.destination-subtitle-mobile
				Your Jungle Homebase
			.destination-underline-mobile
			.destination-body-mobile
				The ancient walled city of Marrakech explodes with life and color. A literal maze of a city, this UNESCO world heritage site, will be homebase for our first few days. Get lost in the souks, sip on mint tea, or mingle in the smoky night market, Jemma el fna.   

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/highatlasmtns.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						High Atlas Mountains
					.destination-title-underline
					.destination-subtitle
						The Best Way to Navigate the Amazon
					.destination-body
						Under the shadow of the snow capped Mount Toubkal, we start our journey. Crisp air, mountain streams, and a chorus of goats produce the soundtrack for several days of flowing single track through this pristine high desert paradise.  
			.destination-subtitle-mobile
				The Best Way to Navigate the Amazon
			.destination-underline-mobile
			.destination-body-mobile
				Under the shadow of the snow capped Mount Toubkal, we start our journey. Crisp air, mountain streams, and a chorus of goats produce the soundtrack for several days of flowing single track through this pristine high desert paradise.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/berbervillage.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Berber Villages
					.destination-title-underline
					.destination-subtitle
						Las Piedras Watershed
					.destination-body
						Experience legendary Berber hospitality, spending our nights in local guesthouses. Indulge in homemade tangier dishes and stroll the quiet dusty streets at dusk. Like glamping, but better. Prep your pearly whites, as a passing smile is an accepted currency in the region. 
 
			.destination-subtitle-mobile
				Las Piedras Watershed
			.destination-underline-mobile
			.destination-body-mobile
				Experience legendary Berber hospitality, spending our nights in local guesthouses. Indulge in homemade tangier dishes and stroll the quiet dusty streets at dusk. Like glamping, but better. Prep your pearly whites, as a passing smile is an accepted currency in the region. 


		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/moroccocoastal.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Tamraght Surf Camp
					.destination-title-underline
					.destination-subtitle
						The Frontiers of Conservation
					.destination-body
						I bet you didn’t know there is a thriving surf culture on the far western reaches of the African continent, but there is. Post up at the hip Magic Surf Camp, swapping surf reports with expat surf bros, settling in for a morning yoga session, or reading a book on the Riad balcony.
			.destination-subtitle-mobile
				The Frontiers of Conservation
			.destination-underline-mobile
			.destination-body-mobile
				I bet you didn’t know there is a thriving surf culture on the far western reaches of the African continent, but there is. Post up at the hip Magic Surf Camp, swapping surf reports with expat surf bros, settling in for a morning yoga session, or reading a book on the Riad balcony.

	.col-md-12.location-inclusions{style: "background: whitesmoke;"}
		.location-inclusions-header{style: "color: #212326;"}
			Reserve your Spot
		.col-md-10.col-md-offset-1.inclusions-container{style: "background: transparent;"}
			.priceanddate_container
				.location-date{style: "border:none; color: #212326;"}
					Launching Late Summer 2016
				.trip-price{style: "color: #212326; padding-bottom: 40px;"}
					Entry Fee - TBD
			.col-md-6.inclusions-title{style: "color: #aa4b41;"}
				What's Included
				<br>
				%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
				.inclusions-description-hidden{style: "color: #212326;"}
					All Accommodations
					<br>
					<br>
					All Meals on Bike Trip
					<br>
					<br>
					Lead Guide
					<br>
					<br>
					Full Suspension Bike Rental
					<br>
					<br>
					Mechanic and Support Vehicle
					<br>
					<br>
					Transfer to and from Marrakech
					<br>
					<br>
			.col-md-6.exclusions-title{style: "color: #aa4b41;"}
				Not Included
				<br>
				%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
				.exclusions-description-hidden{style: "color: #212326;"}
					International Flights
					<br>
					<br>
					Meals in Tamraght and Marrakech
					<br>
					<br>
					Travel Insurance
					<br>
					<br>

	.col-md-12.location-join
		.who-join
			Interested in joining?
		.who-join-description
			Drop us a line or apply
		%a{href:'/apply/Morocco'}
			.join-button.btn
				Reach Out!

:javascript

	$(document).ready(function() {
	$('.location-slow-scroll').show();
	$('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});;

	$(".inclusions-title").click(function () {
	$(".inclusions-description-hidden").stop().slideToggle();
		return false;
	});

	$(".exclusions-title").click(function () {
	$(".exclusions-description-hidden").stop().slideToggle();
		return false;
	});
