#partners

	.partners-banner{style: "background: url('#{asset_path("background/computeroutdoor.jpeg")}') top center no-repeat"}
		.partners-title
			Travel experiences begin 
			%b{style: "border-bottom: 6px solid #aa4b41;"} online.
		
	.col-md-12.partners-details


		.partners-mission
			.partners-mission-text
				We are 
				%b{style: "font-family: proxima_bold;"} adventure travel specialists
				who take a 
				%b{style: "font-family: proxima_bold;"} human-centered
				approach to helping travel organizations innovate and grow. We focus on identifying the needs and behaviors of your customers before aligning unique solutions.

		.partners-grid
			.partners-grid-image-container
				.partners-grid-image{style: "background: url('#{asset_path("background/adventuremug.jpeg")}') right center no-repeat"}

					.partners-grid-text{style: "background: rgba(67,132,150,0.9);"}
						.partners-grid-header
							Brand Strategy
						.partners-grid-subheader
							A Good Story Makes for Great Business
						.partners-grid-underline-container
							.partners-grid-underline
						.partners-grid-description
							A brand is an emotional experience. It's a person's perceptions about your company and services. The goal of branding is to dictate exactly what that feeling should be, and to create in the mind of your ideal customer. By building a powerful brand, you'll have crafted a powerful marketing platform, and a good brand makes your sales process much easier.

		.partners-grid
			.partners-grid-image-container
				.partners-grid-image{style: "background: url('#{asset_path("background/hikerpose.jpeg")}') left center no-repeat"}

					.partners-grid-text{style: "float: right; background: rgba(170, 75, 65, 0.9)"}
						.partners-grid-header
							Development & Design
						.partners-grid-subheader
							Attract, Engage, Convert and Retain
						.partners-grid-underline-container
							.partners-grid-underline
						.partners-grid-description
							We’re a tech savvy team that can simplify and improve your web presence. From awareness to action, we’ll design for every stage of the traveler’s online experience, minimizing effort and maximizing results. We’ll also take the time to make sure you’re comfortable with maintaining your site.

		.partners-grid
			.partners-grid-image-container
				.partners-grid-image{style: "background: url('#{asset_path("background/skystarring.jpeg")}') right center no-repeat"}

					.partners-grid-text{style: "background: rgba(50,140,193,0.9);"}
						.partners-grid-header
							Digital Marketing
						.partners-grid-subheader
							Finding the Best Channels to Tell Your Story
						.partners-grid-underline-container
							.partners-grid-underline
						.partners-grid-description
							From social media to direct sales, together we’ll work to strategize the most effect methods of connecting and engaging with your target audiences as well as how key performance metrics to track success. 

		.partners-grid
			.partners-grid-image-container
				.partners-grid-image{style: "background: url('#{asset_path("travelers/QuinnSmiles.jpg")}') center center no-repeat"}

					.partners-grid-text{style: "float: right; background: rgba(179,125,78,0.9);;"}
						.partners-grid-header
							Collaborative Trips
						.partners-grid-subheader
							Working Together on Unique Experiences
						.partners-grid-underline-container
							.partners-grid-underline
						.partners-grid-description
							With each partner, our end goal is to establish the off and online experiences fully so we can co-brand a trip with you. Together, we’ll create, promote and rally groups around your adventure travel experience.

	.col-md-12.partner-signup
		.partner-signup-title
			Want to work with us?
		%a.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/BTT9KK", :target => "_blank"}
			.partner-signup-btn
				Let's Talk.

:javascript

	(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()

