#partners

	.partners-banner{style: "background: url('#{asset_path("background/computeroutdoor.jpeg")}') top center no-repeat"}
		.partners-title
			Travel experiences begin 
			%b{style: "border-bottom: 6px solid #aa4b41;"} online.
		
	.col-md-12.partners-details


		.partners-mission
			.partners-mission-text
				We are 
				%b{style: "font-family: proxima_bold;"} adventure travel specialists
				who take a 
				%b{style: "font-family: proxima_bold;"} human-centered
				approach to helping travel organizations innovate and grow. We focus on identifying the needs and behaviors of your customers before aligning unique solutions.

		.partners-grid
			.partners-grid-image-container
				.partners-grid-image{style: "background: url('#{asset_path("background/adventuremug.jpeg")}') right center no-repeat"}

					.partners-grid-text{style: "background: rgba(67,132,150,0.9);"}
						.partners-grid-header
							Brand Strategy
						.partners-grid-subheader
							Good Stories Drive Great Business
						.partners-grid-underline-container
							.partners-grid-underline
						.partners-grid-description
							A brand is an emotional experience. It's a person's perceptions about your company and services. The goal of branding is to dictate exactly what that feeling should be and create it in the mind of your ideal customer. We’ll work with you to craft a persuasive brand, setting the tone for a powerful marketing platform and simplifying the sales process.

		.partners-grid
			.partners-grid-image-container
				.partners-grid-image{style: "background: url('#{asset_path("background/development&design.jpeg")}') left center no-repeat"}

					.partners-grid-text{style: "float: right; background: rgba(170, 75, 65, 0.9)"}
						.partners-grid-header
							Development & Design
						.partners-grid-subheader
							Attract, Engage, Convert and Retain
						.partners-grid-underline-container
							.partners-grid-underline
						.partners-grid-description
							We’re a tech-savvy team that can simplify and improve your web presence. From awareness to action, we’ll design for every stage of the traveler’s online experience, minimizing effort and maximizing leads. We’ll also take the time to make sure you’re comfortable with maintaining your site.

		.partners-grid
			.partners-grid-image-container
				.partners-grid-image{style: "background: url('#{asset_path("background/digitalmarketing.jpeg")}') right center no-repeat"}

					.partners-grid-text{style: "background: rgba(50,140,193,0.9);"}
						.partners-grid-header
							Digital Marketing
						.partners-grid-subheader
							Reaching the Right Audience
						.partners-grid-underline-container
							.partners-grid-underline
						.partners-grid-description
							A successful marketing strategy focuses on delivering the right message to the right person at the right time. We’ll take a deep dive into the thoughts and emotions of your current and future customers, identifying their need, beliefs, and motivations. We’ll strategize creative and authentic methods for engaging with travelers using modern techniques.
		.partners-grid
			.partners-grid-image-container
				.partners-grid-image{style: "background: url('#{asset_path("travelers/QuinnSmiles.jpg")}') center center no-repeat"}

					.partners-grid-text{style: "float: right; background: rgba(179,125,78,0.9);;"}
						.partners-grid-header
							Collaborative Trips
						.partners-grid-subheader
							Launching a Trip Together
						.partners-grid-underline-container
							.partners-grid-underline
						.partners-grid-description
							With a revamped web presence and mutual understanding of online business operations, it makes sense to join forces on a high-impact, high-awareness trip. We'll use this trip to get eyes on your new brand and kickstart a new stage of company growth. It's an opportunity to use everything we've implemented, while pulling in new customers and revenue; experiential learning at its best.

	.col-md-12.partner-signup
		.partner-signup-title
			Start the conversation
		%a.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/BTT9KK", :target => "_blank"}
			.partner-signup-btn
				Let's Talk.

:javascript

	(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()

