- content_for(:meta_og) do
	%meta{:content => "Crocs and Conflict - By Max J.", :property => "og:title"}/
	%meta{:content => "AdventureMade", :property => "og:site_name"}/
	%meta{:content => "We're tackling the mighty Rio Verde and Rio Samana, from the Colombian highlands to the dense jungles of the tropical rainforest.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/colombia", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/eegZ8J1.png", :property => "og:image"}/
	%meta{:content => "1437", :property => "og:image:width"}/
	%meta{:content => "752", :property => "og:image:height"}/

.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/packraftjunglemain.jpg")}') center center no-repeat"}

.location-slow-scroll
	#location-text{style: "text-shadow: 1px 1px 5px rgba(0,0,0,1);"}
		#location-header
			Adventure & Conflict 
			<br>
			in the Amazon
		#location-explanation
			Packrafting earth's most sacred, yet endangered ecosystem
		#location-header-mobile
			Adventure & Conflict in the Amazon
		#location-explanation-mobile
			Packrafting earth's most sacred, yet endangered ecosystem
		#created-by

.location-details
	.col-md-12.location-itinerary
		.col-md-12.mission-block
			.mission-header
				The Mission
			.mission-body
				Loggers versus Indians, gold miners versus helicopter commandos; oil companies, pipelines, new roads, secret genocide, corruption, greed, missionaries, bandits, politicians, and massive paradigm shifts unfolding at a dizzying pace.
				<br>
				<br>
				Explore one of the most volatile and crucially important places on earth, the tributaries of the upper Amazon. With a team of local guides and a fleet of ultra-portable packrafts, trek along remote logging roads, follow animal trails, and paddle unnamed tributaries through one of the most ecologically diverse places on earth.


	.col-md-12.location-description
		.description-title
			The Adventure Team
		.col-md-6	
			.description-guide-image{style: "background: url('#{asset_path("background/paul-guide.png")}') center center no-repeat"}
			.guide-name
				Paul R.
			.guide-border
			.guide-title
				Adventure Leader
			.guide-description
				Our adopted jungle family is headed by 
				%a{href: 'http://paulrosolie.com/' , target: '_blank', style: "font-weight: bold;"} Paul Rosolie, 
				conservationist and borderline wild man. Paul authored the award winning book
				%i{style: "font-style: italic"} Mother of God: An Extraordinary Journey into the Uncharted Tributaries of the Western Amazon 
				and has explored parts of the jungle, few have dreamed of visiting. He is part of the larger Tamandua Jungle team that includes the Duran family, an indigenous Ese-Eja family, and several others who man the research station.

				
		.col-md-6	
			%a{href:'/apply/Peru'}
				.description-guide-image{style: "background: #aa4b41;"}
					%i.fa.fa-plus{style: "color: #fff; font-size: 6em; margin-top: 92px; margin-left: 92px;"}
			.guide-name
				Apply to be the
			.guide-border
			.guide-title
				Adventure Ambassador
			
			.guide-description
				Paul has created a one-time trip that is sure to be one hell of an experience. We're looking for a passionate adventure ambassador to spread the word and assemble a team. Recruit others to join the trip and go on the trip for free.


	.col-md-12.destination-container
		.basecamps-title
			A Few Highlights
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/packraft2.png")}') center center no-repeat"}
				.destination-description
					.destination-title
						Research Station
					.destination-title-underline
					.destination-subtitle
						Your Jungle Homebase
					.destination-body
						Our rustic basecamp from which to explore the surrounding jungle. Grab a field guide from the library and explore nearby game trails, kick back in a hammock, or paddle the quiet small tributaries that surround camp.  
			.destination-subtitle-mobile
				Your Jungle Homebase
			.destination-underline-mobile
			.destination-body-mobile
				Our rustic basecamp from which to explore the surrounding jungle. Grab a field guide from the library and explore nearby game trails, kick back in a hammock, or paddle the quiet small tributaries that surround camp.   

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/packraft3.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Packrafting
					.destination-title-underline
					.destination-subtitle
						The Best Way to Navigate the Amazon
					.destination-body
						If you’ve never heard of a packrafting, prepare to have your mind blown. A packraft is a lightweight inflatable raft that weights less than a few pounds and compact enough to fit easily in a back pack. It is the ultimate jungle tool, allowing researchers to trek deep into jungle, explore small tributaries, and view wildlife with unprecedented stealth and silence.  
			.destination-subtitle-mobile
				The Best Way to Navigate the Amazon
			.destination-underline-mobile
			.destination-body-mobile
				If you’ve never heard of a packrafting, prepare to have your mind blown. A packraft is a lightweight inflatable raft that weights less than a few pounds and compact enough to fit easily in a back pack. It is the ultimate jungle tool, allowing researchers to trek deep into jungle, explore small tributaries, and view wildlife with unprecedented stealth and silence.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/packraft4.png")}') center center no-repeat"}
				.destination-description
					.destination-title
						Las Piedras
					.destination-title-underline
					.destination-subtitle
						Las Piedras Watershed
					.destination-body
						One of the last true wilderness frontiers in the world, the upper tributaries of the Peruvian Amazon are nearly untouched. Transported by boat miles up the river and dropped off, we’ll work our way back to camp over the course of several days, camping in the jungle, observing wildlife, and interacting with this wild and raw wilderness. 
 
			.destination-subtitle-mobile
				Las Piedras Watershed
			.destination-underline-mobile
			.destination-body-mobile
				One of the last true wilderness frontiers in the world, the upper tributaries of the Peruvian Amazon are nearly untouched. Transported by boat miles up the river and dropped off, we’ll work our way back to camp over the course of several days, camping in the jungle, observing wildlife, and interacting with this wild and raw wilderness. 


		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/packrafting1.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Puerto Maldonado
					.destination-title-underline
					.destination-subtitle
						The Frontiers of Conservation
					.destination-body
						Until recently, Puerto Maldonado was a quiet river town, but the recent completion of the trans-Amazonian highway, which connects the Amazon to the Pacific coast and lucrative Asian lumber markets has changed that. Learn and witness first hand the complex conflict taking place in this steamy corner of the world.
			.destination-subtitle-mobile
				The Frontiers of Conservation
			.destination-underline-mobile
			.destination-body-mobile
				Until recently, Puerto Maldonado was a quiet river town, but the recent completion of the trans-Amazonian highway, which connects the Amazon to the Pacific coast and lucrative Asian lumber markets has changed that. Learn and witness first hand the complex conflict taking place in this steamy corner of the world.

	.col-md-12.location-inclusions{style: "background: whitesmoke;"}
		.location-inclusions-header{style: "color: #212326;"}
			Reserve your Spot
		.col-md-10.col-md-offset-1.inclusions-container{style: "background: transparent;"}
			.priceanddate_container
				.location-date{style: "border:none; color: #212326;"}
					Launching Late Fall 2016
				.trip-price{style: "color: #212326; padding-bottom: 40px;"}
					Entry Fee - TBD
			.col-md-6.inclusions-title{style: "color: #aa4b41;"}
				What's Included
				<br>
				%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
				.inclusions-description-hidden{style: "color: #212326;"}
					All Accommodations
					<br>
					<br>
					All Meals
					<br>
					<br>
					Lead Guide
					<br>
					<br>
					Personal Packraft
					<br>
					<br>
					Transfer from Puerto Maldonado to Research Station
					<br>
					<br>
					A Support Team at the Station
					<br>
					<br>
					Paul's Book Sent to your House
					<br>
					<br>
			.col-md-6.exclusions-title{style: "color: #aa4b41;"}
				Not Included
				<br>
				%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
				.exclusions-description-hidden{style: "color: #212326;"}
					Flight to Peru
					<br>
					<br>
					Flight from Cusco to Puerto Maldonado
					<br>
					<br>
					Travel Insurance
					<br>
					<br>

	.col-md-12.location-join
		.who-join
			Interested in joining?
		.who-join-description
			Drop us a line or apply
		%a{href:'/apply/Peru'}
			.join-button.btn
				Reach Out!

:javascript

	$(document).ready(function() {
	$('.location-slow-scroll').show();
	$('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});;

	$(".inclusions-title").click(function () {
	$(".inclusions-description-hidden").stop().slideToggle();
		return false;
	});

	$(".exclusions-title").click(function () {
	$(".exclusions-description-hidden").stop().slideToggle();
		return false;
	});
