- content_for(:meta_og) do
	%meta{:content => "The SoCal Trifecta", :property => "og:title"}/
	%meta{:content => "MadebyAdventure", :property => "og:site_name"}/
	%meta{:content => "Guided by a local expert, this trip will take you rock climbing in Joshua Tree National Park, hiking and camping in the giant pine forests of San Jacinto State Park, and surfing the waves and watching the sunset on the Malibu coast. All in one weekend.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/socaltrifecta", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/RJPTfSn.png", :property => "og:image"}/
	%meta{:content => "1200", :property => "og:image:width"}/
	%meta{:content => "628", :property => "og:image:height"}/

	%meta{:content => "summary_large_image", :name => "twitter:card"}
	%meta{:content => "@AdventureMade", :name => "twitter:site"}
	%meta{:content => "The SoCal Trifecta", :name => "twitter:title"}
	%meta{:content => "Guided by a local expert, this trip will take you rock climbing in Joshua Tree National Park, hiking and camping in the giant pine forests of San Jacinto State Park, and surfing the waves and watching the sunset on the Malibu coast. All in one weekend.", :name => "twitter:description"}
	%meta{:content => "http://i.imgur.com/RJPTfSn.png", :name => "twitter:image:src"}/

.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/TrestlesBeach.jpeg")}') center center no-repeat"}

.location-slow-scroll
	#location-text
		#location-header
			The SoCal Trifecta
		#location-header-mobile
			The SoCal Trifecta
		#location-explanation
			Surf in the ocean, camp in the desert and climb in the mountains

.location-details
	.col-md-12.location-itinerary
		.mission-block
			.mission-details-stats
				.mission-details-content
					.col-md-3.mission-details-title
						.fa.fa-map-marker.mission-details-icon{style:"padding-left: 8px; padding-right: 8px;"}
						Los Angeles, CA
					.col-md-3.mission-details-title
						.fa.fa-calendar.mission-details-icon
						Fall 2016
					.col-md-3.mission-details-title
						.fa.fa-users.mission-details-icon
						4-6 Travelers
					.col-md-3.mission-details-title
						.fa.fa-money.mission-details-icon
						As low as $450
				%a{href:'/apply/socaltrifecta'}
					.mission-apply-button
						Request Invite

			.col-md-offset-1.mission-text-box
				.mission-body
					The SoCal Trifecta: Exploring the ocean, the desert and the mountains all in one trip. There are only a few places in the world where you can experience the desert, the mountains, and the ocean all in one weekend. This trip, guided by a local expert, will take you rock climbing in Joshua Tree National Park, hiking and camping in the giant pine forests of San Jacinto State Park, and surfing the waves and watching the sunset on the Malibu coast. Three different worlds, one weekend. With transportation, equipment, food, and entrance fees included, this trip will cover all the bases of adventure you could imagine right here in LA's backyard.

	.col-md-12.location-description
		.col-md-6.team-leader-container
			.description-guide-image{style: "background: url('#{asset_path("travelers/Quinnprofile.jpg")}') center center no-repeat"}
			.guide-name
				Quinn C.
			.guide-border
			.guide-title
				Adventure Leader
			.guide-description
				Quinn is the founder and lead instructor for Eat Sleep Surf in LA. He's a surfer, rock climber, and snowboarder. Having been from the ocean to the desert to the mountains many times over, Quinn knows SoCal like it's his backyard. He has taught surfing in California, Florida, Hawaii, Europe and Central America, is a rock climbing guide for the American Mountain Guides Association, and is a certified Wilderness First Responder.
				
		.col-md-6.team-leader-container	
			%a{href:'/apply/socaltrifecta'}
				.description-guide-image{style: "background: #aa4b41;"}
					+
			.guide-name
				Apply to be the
			.guide-border
			.guide-title
				Adventure Ambassador
			.guide-description
				Quinn has created a one-time  trip that is sure to be one hell of an experience through the California mountains, ocean and desert.We're looking for a passionate adventure ambassador to spread the word and assemble a team.

	.col-md-12.location-description-mobile
		.col-md-6.team-leader-container
			.description-guide-image{style: "background: url('#{asset_path("travelers/Quinnprofile.jpg")}') center center no-repeat"}
			.guide-name
				Quinn C.
			.guide-border
			.guide-title
				Adventure Leader
			.guide-description
				Quinn is the founder and lead instructor for Eat Sleep Surf in LA. He's a surfer, rock climber, and snowboarder. Having been from the ocean to the desert to the mountains many times over, Quinn knows SoCal like it's his backyard. He has taught surfing in California, Florida, Hawaii, Europe and Central America, is a rock climbing guide for the American Mountain Guides Association, and is a certified Wilderness First Responder.
				
		.col-md-6.team-leader-container	
			%a{href:'/apply/socaltrifecta'}
				.description-guide-image{style: "background: #aa4b41; margin-top: 40px;"}
					+
			.guide-name
				Apply to be the
			.guide-border
			.guide-title
				Adventure Ambassador
			.guide-description
				Quinn has created a one-time  trip that is sure to be one hell of an experience through the California mountains, ocean and desert.We're looking for a passionate adventure ambassador to spread the word and assemble a team.

	.col-md-12.destination-container
		.basecamps-title
			A Few Highlights
		.highlight-gallery
			.row.col-md-6.destination-highlight
				.destination-image{style: "background: url('#{asset_path("background/joshuatreenp.jpg")}') center center no-repeat"}
					.destination-description
						.destination-title
							Joshua Tree
				.destination-subtitle-mobile
					Camping Under the Stars
				.destination-underline-mobile
				.destination-body-mobile
					Aside from being known as U2's biggest album and a hotspot for taking halucinagenic drugs, Johsua Tree National Park is a place that is so amazing, it can't be explained in words. We will met up in LA and drive to the national park where we will camp out, cowboy style, under the stars. An unforgettable experience.

			.row.col-md-6.destination-highlight
				.destination-image{style: "background: url('#{asset_path("background/stockmaleclimber.jpeg")}') center center no-repeat"}
					.destination-description
						.destination-title
							Trad Climbing
				.destination-subtitle-mobile
					Climb the Walls of Joshua Tree
				.destination-underline-mobile
				.destination-body-mobile
					Joshua Tree National Park is a climbers paradise. The granite rock formations offer countless climbing options, from scrambling up to the top and checking out the desert view, to challenging a vertical crack in the rock while on a rope. Your guide has the experience and expertise to help you enjoy every option your heart desires. 

			.row.col-md-6.destination-highlight
				.destination-image{style: "background: url('#{asset_path("background/san-jacinto.jpg")}') center center no-repeat"}
					.destination-description
						.destination-title
							Mt. San Jacinto
				.destination-subtitle-mobile
					Reaching the 11,000ft Summit
				.destination-underline-mobile
				.destination-body-mobile
					LA's best kept secret. We'll go from the desert floor to over 8000ft in an aerial tramway, hike to Round Valley, camp in the beautiful pine forests, and summit San Jacinto in the morning. The view from the summit was described by John Muir as: "The most sublime spectacle to be found anywhere on this earth."

			.row.col-md-6.destination-highlight
				.destination-image{style: "background: url('#{asset_path("background/stocksurf.jpeg")}') center center no-repeat"}
					.destination-description
						.destination-title
							Sunset Surf
				.destination-subtitle-mobile
					Surfing Sunset Until the Sunset
				.destination-underline-mobile
				.destination-body-mobile
					Getting into the Pacific ocean is the perfect way to cleanse oneself after getting dirty in the desert. We will arrive at the Malibu coast in the afternoon just in time to enjoy a beautiful sunset surf session.

	.col-md-12.location-inclusions{style: "background: #F5F5F5;"}
		.col-md-10.col-md-offset-1.inclusions-container{style: "background: transparent;"}
			.col-md-6.inclusion-exclusion-box
				.inclusions-title{style: "color: #00293c;"}
					What's Included
					<br>
					%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
					.inclusions-description-hidden{style: "color: #212326;"}
						Camping Equipment
						<br>
						<br>
						Surf Gear
						<br>
						<br>
						Climbing Gear
						<br>
						<br>
						Surf Instruction
						<br>
						<br>
						Transportation
						<br>
						<br>
						Food
						<br>
						<br>
			.col-md-6.inclusion-exclusion-box
				.exclusions-title{style: "color: #00293c;"}
					Not Included
					<br>
					%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
					.exclusions-description-hidden{style: "color: #212326;"}
						Swimwear
						<br>
						<br>
						Hiking Gear
						<br>
						<br>
						Good Vibes
						<br>
						<br>
	
	.col-md-12.location-join
		.who-join
			Interested in joining?
		.who-join-description
			Drop us a line or apply
		%a{href:'/apply/socaltrifecta'}
			.join-button.btn
				Reach Out!

:javascript

	$(document).ready(function() {
	$('.location-slow-scroll').show();
	$('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});

	$(".inclusions-title").click(function () {
	$(".inclusions-description-hidden").stop().slideToggle();
		return false;
	});

	$(".exclusions-title").click(function () {
	$(".exclusions-description-hidden").stop().slideToggle();
		return false;
	});

	$("#readmore-body-text").click(function(){
		$("#expanded-body-text").fadeIn('slow');
		$(this).hide()
	});