- content_for(:meta_og) do
	%meta{:content => "The So-Cal Trifecta - By Casey S.", :property => "og:title"}/
	%meta{:content => "AdventureMade", :property => "og:site_name"}/
	%meta{:content => "Exploring the ocean, the desert and the mountains all in one trip.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/socaltrifecta", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/eegZ8J1.png", :property => "og:image"}/
	%meta{:content => "1437", :property => "og:image:width"}/
	%meta{:content => "752", :property => "og:image:height"}/

.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/TrestlesBeach.jpeg")}') center center no-repeat"}

.location-slow-scroll
	#location-text
		#location-header
			The So-Cal Trifecta
		#location-explanation
			From the ocean, to the desert, to the mountains in one trip
		#location-header-mobile
			The So-Cal Trifecta
		#location-explanation-mobile
			From the ocean, to the desert, to the mountains in one trip
		#created-by

.location-details
	.col-md-12.location-itinerary
		.col-md-12.mission-block
			.mission-header
				The Mission
			.mission-body
				The SoCal Trifecta: Exploring the ocean, the desert and the mountains all in one trip. There are only a few places in the world where you can experience the desert, the mountains, and the ocean all in one weekend. This trip, guided by a local expert, will take you rock climbing in Joshua Tree National Park, hiking and camping in the giant pine forests of San Jacinto State Park, and surfing the waves and watching the sunset on the Malibu coast. Three different worlds, one weekend. With transportation, equipment, food, and entrance fees included, this trip will cover all the bases of adventure you could imagine right here in LA's backyard.

	.col-md-12.location-description
		.description-title
			The Team
		.col-md-6	
			.description-guide-image{style: "background: url('#{asset_path("background/Quinnprofile.jpg")}') center center no-repeat"}
			.guide-name
				Quinn C.
			.guide-border
			.guide-title
				Adventure Leader
			
			.guide-description
				Quinn is the founder and lead instructor for Eat Sleep Surf in LA. He's a surfer, rock climber, and snowboarder. Having been from the ocean to the desert to the mountains many times over, Quinn knows SoCal like it's his backyard. He has taught surfing in California, Florida, Hawaii, Europe and Central America, is a rock climbing guide for the American Mountain Guides Association, and is a certified Wilderness First Responder.  
				
		.col-md-6	
			%a{href:'/apply/SoCal'}
				.description-guide-image{style: "background: #aa4b41;"}
					%i.fa.fa-plus{style: "color: #fff; font-size: 6em; margin-top: 95px; margin-left: 95px;"}
			.guide-name
				Apply to be the
			.guide-border
			.guide-title
				Adventure Ambassador
			
			.guide-description
				Quinn has created a one-time  trip that is sure to be one hell of an experience through the California mountains, ocean and desert.We're looking for a passionate adventure ambassador to spread the word and assemble a team and go on the trip for free.

	.col-md-12.destination-container
		.basecamps-title
			A Few Highlights
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/joshuatreenp.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Joshua Tree
					.destination-title-underline
					.destination-subtitle
						Camping Under the Stars
					.destination-body
						Aside from being known as U2's biggest album and a hotspot for taking halucinagenic drugs, Johsua Tree National Park is a place that is so amazing, it can't be explained in words. We will met up in LA and drive to the national park where we will camp out, cowboy style, under the stars. An unforgettable experience. 
			.destination-subtitle-mobile
				Camping Under the Stars
			.destination-underline-mobile
			.destination-body-mobile
				Aside from being known as U2's biggest album and a hotspot for taking halucinagenic drugs, Johsua Tree National Park is a place that is so amazing, it can't be explained in words. We will met up in LA and drive to the national park where we will camp out, cowboy style, under the stars. An unforgettable experience. 

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/stockmaleclimber.jpeg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Trad Climbing
					.destination-title-underline
					.destination-subtitle
						Climb the Walls of Joshua Tree
					.destination-body
						Joshua Tree National Park is a climbers paradise. The granite rock formations offer countless climbing options, from scrambling up to the top and checking out the desert view, to challenging a vertical crack in the rock while on a rope. Your guide has the experience and expertise to help you enjoy every option your heart desires. 
			.destination-subtitle-mobile
				Trad Climbing
			.destination-underline-mobile
			.destination-body-mobile
				Joshua Tree National Park is a climbers paradise. The granite rock formations offer countless climbing options, from scrambling up to the top and checking out the desert view, to challenging a vertical crack in the rock while on a rope. Your guide has the experience and expertise to help you enjoy every option your heart desires. 

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/san-jacinto.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Mt. San Jacinto
					.destination-title-underline
					.destination-subtitle
						Reaching the 11,000ft Summit
					.destination-body
						LA's best kept secret. We'll go from the desert floor to over 8000ft in an aerial tramway, hike to Round Valley, camp in the beautiful pine forests, and summit San Jacinto in the morning. The view from the summit was described by John Muir as: "The most sublime spectacle to be found anywhere on this earth." 
			.destination-subtitle-mobile
				Reaching the 11,000ft Summit
			.destination-underline-mobile
			.destination-body-mobile
				LA's best kept secret. We'll go from the desert floor to over 8000ft in an aerial tramway, hike to Round Valley, camp in the beautiful pine forests, and summit San Jacinto in the morning. The view from the summit was described by John Muir as: "The most sublime spectacle to be found anywhere on this earth." 

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/stocksurf.jpeg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Sunset Surf
					.destination-title-underline
					.destination-subtitle
						Surfing Sunset Until the Sunset
					.destination-body
						Getting into the Pacific ocean is the perfect way to cleanse oneself after getting dirty in the desert. We will arrive at the Malibu coast in the afternoon just in time to enjoy a beautiful sunset surf session. 
			.destination-subtitle-mobile
				Surfing Sunset Until the Sunset
			.destination-underline-mobile
			.destination-body-mobile
				Getting into the Pacific ocean is the perfect way to cleanse oneself after getting dirty in the desert. We will arrive at the Malibu coast in the afternoon just in time to enjoy a beautiful sunset surf session. 

	.col-md-12.location-inclusions{style: "background: whitesmoke;"}
		.location-inclusions-header{style: "color: #212326;"}
			Reserve your Spot
		.col-md-10.col-md-offset-1.inclusions-container{style: "background: transparent;"}
			.priceanddate_container
				.location-date{style: "border:none; color: #212326;"}
					June 2016
				.trip-price{style: "color: #212326; padding-bottom: 40px;"}
					Entry Fee - $400
			.col-md-6.inclusion-exclusion-box
				.inclusions-title{style: "color: #00293c;"}
					What's Included
					<br>
					%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
					.inclusions-description-hidden{style: "color: #212326;"}
						Camping Equipment
						<br>
						<br>
						Surf Gear
						<br>
						<br>
						Climbing Gear
						<br>
						<br>
						Surf Instruction
						<br>
						<br>
						Transportation
						<br>
						<br>
						Food
						<br>
						<br>
			.col-md-6.inclusion-exclusion-box
				.exclusions-title{style: "color: #00293c;"}
					Not Included
					<br>
					%i.fa.fa-angle-double-down{style: "color: #aa4b41;"}
					.exclusions-description-hidden{style: "color: #212326;"}
						Swimwear
						<br>
						<br>
						Hiking Gear
						<br>
						<br>
						Good Vibes
						<br>
						<br>
	
	.col-md-12.location-join
		.who-join
			Interested in joining?
		.who-join-description
			Drop us a line or apply
		%a{href:'/apply/socaltrifecta'}
			.join-button.btn
				Reach Out!

:javascript

	$(document).ready(function() {
	$('.location-slow-scroll').show();
	$('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});

	$(".inclusions-title").click(function () {
	$(".inclusions-description-hidden").stop().slideToggle();
		return false;
	});

	$(".exclusions-title").click(function () {
	$(".exclusions-description-hidden").stop().slideToggle();
		return false;
	});