- content_for(:meta_og) do
	%meta{:content => "The So-Cal Trifecta - By Casey S.", :property => "og:title"}/
	%meta{:content => "AdventureMade", :property => "og:site_name"}/
	%meta{:content => "Exploring the ocean, the desert and the mountains all in one trip.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/socaltrifecta", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/eegZ8J1.png", :property => "og:image"}/
	%meta{:content => "1437", :property => "og:image:width"}/
	%meta{:content => "752", :property => "og:image:height"}/

.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/TrestlesBeach.jpeg")}') center center no-repeat"}

.location-slow-scroll
	#location-text
		#location-header
			The So-Cal Trifecta
		#location-explanation
			From the ocean, to the desert, to the mountains in one trip
		#location-header-mobile
			The So-Cal Trifecta
		#location-explanation-mobile
			From the ocean, to the desert, to the mountains in one trip
		#created-by
			Made by: Casey S.

.location-details
	.col-md-12.location-itinerary
		.col-md-12.mission-block
			.mission-header
				The Mission
			.mission-body
				The SoCal Trifecta: Exploring the ocean, the desert and the mountains all in one trip. There are only a few places in the world where you can experience the desert, the mountains, and the ocean all in one weekend. This trip, guided by a local expert, will take you rock climbing in Joshua Tree National Park, hiking and camping in the giant pine forests of San Jacinto State Park, and surfing the waves and watching the sunset on the Malibu coast. Three different worlds, one weekend. With transportation, equipment, food, and entrance fees included, this trip will cover all the bases of adventure you could imagine right here in LA's backyard.

	.col-md-12.location-description
		.description-title
			The Adventure Team
		.col-md-6	
			.description-guide-image{style: "background: url('#{asset_path("background/Quinnprofile.jpg")}') center center no-repeat"}
			.guide-name
				Quinn C.
			.guide-border
			.guide-title
				Adventure Leader
			
			.guide-description
				Quinn is the founder and lead instructor for Eat Sleep Surf in LA. He's a surfer, rock climber, and snowboarder. Having been from the ocean to the desert to the mountains many times over, Quinn knows SoCal like it's his backyard. He has taught surfing in California, Florida, Hawaii, Europe and Central America, is a rock climbing guide for the American Mountain Guides Association, and is a certified Wilderness First Responder.  
				
		.col-md-6	
			.description-guide-image{style: "background: url('#{asset_path("background/CaseyProfile.jpg")}') center center no-repeat"}
			.guide-name
				Casey S.
			.guide-border
			.guide-title
				Adventure Ambassador
			
			.guide-description
				Casey works and plays in LA. When not surfing, she works with a mix of graphic design, motion graphics, video, and photography. Her past adventures include circumnavigating the globe on a ship back in 2013. She's been adventure hunting ever since and looking to get the most out of the LA area.
				

	.col-md-10.col-md-offset-1.location-who
		.col-md-6.who-container
			.who-image{style: "background: url('#{asset_path("background/stockgirlprofile.jpeg")}') center center no-repeat"}
			.who-text
				.who-name
					Jessie
				.who-title
					From
				.who-description
					San Francisco, CA
				.who-title
					Biggest Adventure
				.who-description
					Shot a short film in Haiti


		.col-md-6.who-container
			.who-image{style: "background: url('#{asset_path("background/lagunastockman.jpeg")}') center center no-repeat"}
			.who-text
				.who-name
					Tyler
				.who-title
					From
				.who-description
					San Diego, CA
				.who-title
					Last Adventure
				.who-description
					Biked the Atlas Mountains in Morocco

		.col-md-6.who-container
			.who-image{style: "background: url('#{asset_path("background/fakeguy.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Jon
				.who-title
					From
				.who-description
					Santa Monica, CA
				.who-title
					Favorite Adventure
				.who-description
					Paddle boarding from LA to San Diego

		.col-md-6.who-container
			.who-image{style: "background: url('#{asset_path("background/fakegirl.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Sara
				.who-title
					From
				.who-description
					Washington, DC
				.who-title
					Past Travel Experience	
				.who-description
					Lived and studied in New Zealand

	.col-md-12.destination-container
		.basecamps-title
			A Few Highlights
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/joshuatreenp.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Joshua Tree
					.destination-title-underline
					.destination-subtitle
						Camping Under the Stars
					.destination-body
						Aside from being known as U2's biggest album and a hotspot for taking halucinagenic drugs, Johsua Tree National Park is a place that is so amazing, it can't be explained in words. We will met up in LA and drive to the national park where we will camp out, cowboy style, under the stars. An unforgettable experience. 
			.destination-subtitle-mobile
				Camping Under the Stars
			.destination-underline-mobile
			.destination-body-mobile
				Aside from being known as U2's biggest album and a hotspot for taking halucinagenic drugs, Johsua Tree National Park is a place that is so amazing, it can't be explained in words. We will met up in LA and drive to the national park where we will camp out, cowboy style, under the stars. An unforgettable experience. 

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/stockmaleclimber.jpeg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Trad Climbing
					.destination-title-underline
					.destination-subtitle
						Climb the Walls of Joshua Tree
					.destination-body
						Joshua Tree National Park is a climbers paradise. The granite rock formations offer countless climbing options, from scrambling up to the top and checking out the desert view, to challenging a vertical crack in the rock while on a rope. Your guide has the experience and expertise to help you enjoy every option your heart desires. 
			.destination-subtitle-mobile
				Trad Climbing
			.destination-underline-mobile
			.destination-body-mobile
				Joshua Tree National Park is a climbers paradise. The granite rock formations offer countless climbing options, from scrambling up to the top and checking out the desert view, to challenging a vertical crack in the rock while on a rope. Your guide has the experience and expertise to help you enjoy every option your heart desires. 

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/san-jacinto.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Mt. San Jacinto
					.destination-title-underline
					.destination-subtitle
						Reaching the 11,000ft Summit
					.destination-body
						LA's best kept secret. We'll go from the desert floor to over 8000ft in an aerial tramway, hike to Round Valley, camp in the beautiful pine forests, and summit San Jacinto in the morning. The view from the summit was described by John Muir as: "The most sublime spectacle to be found anywhere on this earth." 
			.destination-subtitle-mobile
				Reaching the 11,000ft Summit
			.destination-underline-mobile
			.destination-body-mobile
				LA's best kept secret. We'll go from the desert floor to over 8000ft in an aerial tramway, hike to Round Valley, camp in the beautiful pine forests, and summit San Jacinto in the morning. The view from the summit was described by John Muir as: "The most sublime spectacle to be found anywhere on this earth." 

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/stocksurf.jpeg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Sunset Surf
					.destination-title-underline
					.destination-subtitle
						Surfing Sunset Until the Sunset
					.destination-body
						Getting into the Pacific ocean is the perfect way to cleanse oneself after getting dirty in the desert. We will arrive at the Malibu coast in the afternoon just in time to enjoy a beautiful sunset surf session. 
			.destination-subtitle-mobile
				Surfing Sunset Until the Sunset
			.destination-underline-mobile
			.destination-body-mobile
				Getting into the Pacific ocean is the perfect way to cleanse oneself after getting dirty in the desert. We will arrive at the Malibu coast in the afternoon just in time to enjoy a beautiful sunset surf session. 

	.col-md-12.location-inclusions{style: "background: url('#{asset_path("background/SantaMonicaWaves.jpeg")}') center center no-repeat"}
		.location-inclusions-header
			Reserve your Spot
		.col-md-10.col-md-offset-1.inclusions-container
			.priceanddate_container
				.location-date
					May 13th - 15th, 2016
				.trip-price
					Entry Fee - $450
			.col-md-6.inclusions-title
				What this gets you
				.inclusions-description
					Camping Equipment
					<br>
					<br>
					Surf Gear
					<br>
					<br>
					Climbing Gear
					<br>
					<br>
					Surf Instruction
					<br>
					<br>
					Transportation
					<br>
					<br>
					Food
					<br>
					<br>
			.col-md-6.inclusions-title
				What to bring
				.inclusions-description
					Swimwear
					<br>
					<br>
					Hiking Gear
					<br>
					<br>
					Good Vibes
					<br>
					<br>

	.col-md-12.location-join
		.who-join
			Interested in joining?
		.who-join-description
			Drop us a line or apply
		%a{href:'/apply/socaltrifecta'}
			.join-button.btn
				Reach Out!

:javascript

	$(document).ready(function() {
	$('.location-slow-scroll').show();
	$('.location-slow-scroll').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});