.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/halongb&w.jpg")}') center center no-repeat"}

.location-slow-scroll
	#location-text  
		#location-header
			2 Wheels | 2 Weeks | 2,200 km
		#location-explanation
			Four teams racing from North to South Vietnam on motorcycles...Why? Why not?
		#location-header-mobile
			2 Wheels, 2 Weeks
			<br>
			2,200 km
		#location-explanation-mobile
			Four teams racing from North to South Vietnam on motorcycles.
			<br>Why? Why not?

.location-details
	.col-md-12.location-itinerary
		.col-md-6.mission-block
			.itinerary-header
				The Mission
			.itinerary-body
				A 2,200km adventure across Vietnam from Ha Long Bay to Ho Chi Minh City on a souped up dirt bike. No set routes, GPS cheats or guides to lead the way.
				<br>
				<br> 
			.final-sentence
				Sound crazy? That's why we're going to do it this June.

		.col-md-6.map-block
			.route-map{style: "background: url('#{asset_path("background/Route1.png")}') center center no-repeat"}

	.col-md-12.location-description
		.description-title
			Whoa, What's This?
		.description-body
			Adventure is uncertainty and pushing yourself beyond your comfort zone. We don't believe in travel tours that hold your hand and feed you your meals, which is why we're choosing 4 teams of ballsy travelers to conquer Vietnam on motorcycles. 
			<br>
			<br> 
			We've set up the necessities and key aspects of the trip...but, this trip is not going to be easy and things are going to go wrong. In the end, it'll be what wasn't planned that creates the stories you'll be bragging about for decades to come.

	.col-md-12.destination-container
		.basecamps-title
			Basecamps & Checkpoints
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/watercliffs.jpeg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Ha Long Bay
					.destination-body
						We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members. 
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'mufuking basecamp title', 'data-body' => 'hot basecamp booty & body', 'data-img-src' => "http://placebacon.net/400/300?image=#{rand(10)}"}
							View Basecamp
			.destination-body-mobile
				We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/phongnhathumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Phong Nha
					.destination-body
						Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'mufuking basecamp title', 'data-body' => 'hot basecamp booty & body', 'data-img-src' => "http://placebacon.net/400/300?image=#{rand(10)}"}
							View Basecamp
			.destination-body-mobile
				Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/huethumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Hue
					.destination-body
						We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members. 
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp2', 'data-title' => 'mufuking basecamp title', 'data-body' => 'hot basecamp booty & body', 'data-img-src' => "http://placebacon.net/400/300?image=#{rand(10)}"}
							View Basecamp
			.destination-body-mobile
				We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/nhatrangthumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Nha Trang
					.destination-body
						Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp3', 'data-title' => 'mufuking basecamp title', 'data-body' => 'hot basecamp booty & body', 'data-img-src' => "http://placebacon.net/400/300?image=#{rand(10)}"}
							View Basecamp
			.destination-body-mobile
				Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/muinethumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Mui Ne
					.destination-body
						We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members. 
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp blahlabh', 'data-title' => 'mufuking basecamp title', 'data-body' => 'hot basecamp booty & body', 'data-img-src' => "http://placebacon.net/400/300?image=#{rand(10)}"}
							View Basecamp
			.destination-body-mobile
				We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat excursion with all team members.

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/hochiminhthumbnail.jpg")}') center center no-repeat"}
				.destination-description	
					.destination-title
						Ho Chi Minh City
					.destination-body
						Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.
					%a
						.destination-button{"data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp cookiemonster', 'data-title' => 'mufuking basecamp title', 'data-body' => 'hot basecamp booty & bodynster', 'data-img-src' => "http://placebacon.net/400/300?image=#{rand(10)}"}
							View Basecamp
			.destination-body-mobile
				Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.

	.col-md-12.location-how{style: "background: url('#{asset_path("background/vietnam40.jpg")}') center center no-repeat"}
		.location-how-header
			What's the "Plan"?
		.col-md-12.how-box-container
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						Forming Teams
					.how-box-body
						Rather than travel in a big group, we're going to break into teams of two. We're not saying it's a competition...but first to each basecamp will be getting rewards and bragging rights.
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						What We'll Handle
					.how-box-body
						Your bike and riding gear will be waiting for you on arrival along with all basecamp accommodations. We'll also ship your bike back to Hanoi...if you make it there.
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						What You'll Need
					.how-box-body	
						This trip isn't for amatuer riders... You'll need to prove your riding experience, valid motorcycle license and apply for an international drivers permit.
	.col-md-12.location-who
		.location-who-header
			Who's Going?
		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/banosbiking.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Jon M.
				.who-title
					Team
				.who-description
					The Pho King
				.who-title
					Secret Weapon
				.who-description
					Wet Wipes and a flawless one-cheek-sneak regardless of the location or situation.


		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/Chrisjumping.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Chris S.
				.who-title
					Team
				.who-description
					Aye Okie
				.who-title
					Why I'll Win
				.who-description
					Short cuts, booby traps and bribes.

		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/ryanfunnyimage.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Ryan A.
				.who-title
					Team
				.who-description
					The Pho King
				.who-title
					Only Weakness
				.who-description
					My vibrant personality and boyish good looks get me into trouble overseas.

	.col-md-12.location-inclusions{style: "background: url('#{asset_path("background/vietnampath.jpeg")}') center center no-repeat"}
		.location-inclusions-header
			Reserve your Spot
		.location-date
			May 28th - June 11th, 2016
		.col-md-10.col-md-offset-1.inclusions-container
			.col-md-6.inclusions-title
				What's Included?
				.inclusions-description
					2-Week Motorcycle Rental (CRF250)
					<br>
					<br>
					Bike Shipping back to Hanoi
					<br>
					<br>
					Helmet, Tool Kit, Spare Parts and Maps
					<br>
					<br>
					8 Nights Accommodations at Basecamps
					<br>
					<br>
					Ha Long Bay Launch Party
					<br>
					<br>
					Overnight Ha Long Cruise
			.col-md-6.inclusions-title
				What's Not Included?
				.inclusions-description
					International Flights
					<br>
					We're here to help find you the cheapest flights (Approx $900 round-trip from most major US Airports)
					<br>
					<br>
					Meals & Extra Beers
					<br> We're good for plenty of rounds
					<br>
					<br>
					Gas during the Trip
					<br>
					<br>
					3 Nights Accommodations between Basecamps


	.col-md-12.location-join
		.who-join
			Do you have what it takes?
		.who-join-description
			Apply to join the traveling circus!
		%a{href: '/users/auth/facebook'}
			.join-button.btn
				Apply Now


