- content_for(:meta_og) do
	%meta{:content => "2 Wheels, 2 Weeks, 2,400km - By: Jon M.", :property => "og:title"}/
	%meta{:content => "AdventureMade", :property => "og:site_name"}/
	%meta{:content => "A 2,400km adventure across Vietnam from Hanoi to Ho Chi Minh City on dirt bikes. Nine checkpoints with no set routes, GPS cheats, mechanics or guides to lead the way. Sound crazy? That's why we're going to do it this June.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/vietnam", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/wJxoZrD.png", :property => "og:image"}/
	%meta{:content => "1434", :property => "og:image:width"}/
	%meta{:content => "744", :property => "og:image:height"}/


.location-hero.location-hero-fix{style: "background: url('#{asset_path("background/vietnampath.jpeg")}') center center no-repeat"}

.location-slow-scroll
	#location-text  
		#location-header
			2 Wheels | 2 Weeks | 2,400 km
		#location-explanation
			Join us as we lose our sense of direction from North to South Vietnam on motorcycles...Why? Why not?
		#location-header-mobile
			2 Wheels, 2 Weeks,
			<br>
			2,400 km
		#location-explanation-mobile
			Join us as we lose our sense of direction from North to South Vietnam on motorcycles...Why? Why not?
		#created-by
			Made by: Jon M.

.location-details
	.col-md-12.location-itinerary
		.col-md-6.mission-block
			.itinerary-header
				The Mission
			.itinerary-body
				A 2,400km adventure across Vietnam from Hanoi to Ho Chi Minh City on dirt bikes. Nine checkpoints with no set routes, GPS cheats, mechanics or guides to lead the way.
				<br>
				<br> 
			.final-sentence
				Sound crazy? That's why we're going to do it this June.

		.col-md-6.map-block
			.route-map{style: "background: url('#{asset_path("background/Route1.png")}') center center no-repeat"}

	.col-md-12.location-description
		.description-title
			Whoa, What's This?
		.description-body
			Adventure is uncertainty and pushing yourself beyond your comfort zone. I don't believe in travel tours that hold your hand and feed you your meals, which is why I'm gathering a team of ballsy travelers to conquer Vietnam on motorcycles.
			<br>
			<br> 
			Alongside some trusted local guides and experienced riders, I've set up the general routing and key aspects of the trip...but, this trip is not going to be easy and things are going to go wrong. In the end, it'll be what wasn't planned that creates the stories we'll be bragging about for decades to come.

	.col-md-12.destination-container
		.basecamps-title
			A Few Highlights
		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/hanoicityblock.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Hanoi
					.destination-title-underline
					.destination-subtitle
						From the City to the Ho Chi Minh Road
					.destination-body
						We'll be spending the night in the capital city surrounded by endless nightlife and food, non-stop culture shock...
					%a
						.destination-button{"data-num" => 1, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'From the City into the Endless Countryside', 'data-body' => "We'll be spending the night in the capital city surrounded by endless nightlife and food, non-stop culture shock and scooters flying by in every direction. Meet the other travelers, have a beer, eat and relax because tomorrow begins our long trek south.<br><br>The following day, you’ll want to rise and shine early, enjoy one of many Vietnamese coffees to come and hop on your new home for the next two weeks; a new CRF250 ready to take on the challenges ahead with you. Your team will decide when you'll leave, which road you'll take and where you'll be heading on your first day’s ride.<br><br>You’ll be escaping the city and slowly realizing you’re very far from home. Although the poorest province in Vietnam, Nghệ An is the largest and home to serious agriculture production. You’ll be riding past corn, bananas, onions, rice, cassava, tea, oranges, cinnamon, eucalyptus and the largest dairy producer in Vietnam. If you stick to the Ho Chi Minh Road, you’ll edge closer to the mountains, which signify the border of Laos.<br><br>Remember the words 'Nhà Nghỉ', this is your magic phrase to find yourself a guest house in one of the many little villages along the Ho Chi Minh Road after our first day on the road. Those who are feeling comfy on their bikes can shoot down as far as Pho Chau, a 380km ride. For those feeling a bit less ballsy, Yên Cát and Thái Hòa are less of a journey to reach along the way. Just remember, the less you ride today, the more you'll have to ride tomorrow...and these roads aren’t going to get any easier.<br><br>An unfortunate and ongoing problem within these small towns near the border is dog smuggling. In many parts of Vietnam, particularly Hanoi, dog meat is considered a delicatessen and it’s estimated over 5 million dogs are consumed in the country each year. Trucks and corrupt officials associated with an international mafias have a known presence using the route through Pho Chau. I don’t recommend anyone gets involved in any way at all...but bonus points for every dog you let loose.", 'data-img-src' => "#{asset_url("routemaps/VMap1.png")}"}
							View Checkpoint
			.destination-subtitle-mobile
				From the City to the Ho Chi Minh Road
			.destination-underline-mobile
			.destination-body-mobile
				We'll be spending the night in the capital city surrounded by endless nightlife and food, non-stop culture shock...

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/phongnhathumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Phong Nha
					.destination-title-underline
					.destination-subtitle
						Exploring the Tu Lan Cave System
					.destination-body
						With the world's largest cave and oldest karst moutains in Asia, this Unesco World Heritage site...
					%a
						.destination-button{"data-num" => 2, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp1', 'data-title' => 'Exploring the Tu Lan Cave System', 'data-body' => "With the oldest karst mountains in Asia, formed over 400 million years ago, this Unesco World Heritage site is now recognized as the home of the world’s largest cave. With hundreds of caves within its cave system, underground rivers forming rapids and the recent confirmation that Hang Son Doong is the largest known cave in the world...Phong Nha-Ke Bang National Park was a must see for our Vietnamese adventure.<br><br>After a long two day ride, we’ll reunite at Phong Nha Farmstay; just down the road from the massive national park. I’ve set up local guides from the nearby village of Tan Hoa, who will pick us up first thing in the morning and help us make the most out of our adventure day in the Park. We’ll start by driving over the Da Deo Mountain Pass until we reach the Tan Hoa minority village.<br><br>A short 2 km hike through buffalo and peanut fields we’ll reach and cross the Rao Nan River and to our first cave; Hang Chuot. Otherwise known as ‘Rat Cave’, Hang Chuot used to be used as an illegal timber-logging trail to literally go under the mountain.<br><br>One cave experience isn’t enough, so we’ll be trekking through Hung Ton Valley to reach Hung Ton Cave. After descending 15 meters into the cave, we’ll have to swim through the cave, following an underground river to reach To Mo Valley. Thanks to our guides, they’re going to be setting up a local Vietnamese BBQ by a waterfall, which we’ll also be swimming in.<br><br>After the full day exploring we’ll most likely be anxious to get back on the saddle and split up until the next checkpoint. We’ll return to the farmstay, have a drink with other travelers and get ready to take on the most interesting, twisty and beaten up section of the Ho Chi Minh Road that we’ll see.", 'data-img-src' => "#{asset_url("routemaps/VMap2.png")}"}
							View Checkpoint
			.destination-subtitle-mobile
				Exploring the Tu Lan Cave System
			.destination-underline-mobile
			.destination-body-mobile
				With the world's largest cave and oldest karst moutains in Asia, this Unesco World Heritage site...

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/huewaterthumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Hue
					.destination-title-underline
					.destination-subtitle
						From the American War to the Imperial Capital
					.destination-body
						We'll visit one of the bloodiest sites of the war on our way to the last Imperial Capital on the coast...
					%a
						.destination-button{"data-num" => 3, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp2', 'data-title' => 'From the American War to the Imperial Capital', 'data-body' => "After what will seem like endless twists and turns along the border of Laos from Phong Nha, we’ll reach Khe Sanh. One of the most important sites of the war, Khe Sanh was home to one of the bloodiest and longest battles of the American War.<br><br>In 1968, this small village was a large American base, purposefully chosen for its close proximity to the demilitarized zone between North and South Vietnam as well as the border of Laos. When the People’s Army of North Vietnam carried out a massive artillery bombardment on the base, a 77-day battle took place. Unfortunately, while the U.S. and South Vietnamese focused their attention on Khe Sanh, the forces of North Vietnam and Viet Cong unleashed the Tet Offensive, in which more than 100 cities and towns in the South were under coordinated attacks by more than 70,000 soldiers.<br><br>While riding and staying in Khe Sanh, we’ll be surrounded by remnants of this bloody past, whether through old helicopters or the craters that mark the earth’s battle scars from the dropping of over 110,00 tons of bombs by the U.S. (the most intensive in the history of warfare), which was part of the relief force that concluded the Battle of Khe Sanh.<br><br>We’ll then head to our next major leg of the trip, from the Eastern Border to the Pacific Ocean. To keep our minds going on this country’s history we’ll go back another hundred years, into Hue; home of the last ruling family of Vietnam.<br><br>Even though many of its finest buildings were destroyed during the war, Hue’s history and beauty will be easy for us to find between the picturesque Perfume River and the walled area of the old Imperial City. Within this UNESCO World Heritage Site was once a forbidden city lined by citadel walls, where only emperors and those closest to them were granted access. Here we’ll take in the views, history, more beers, more pho and prepare for hundreds of kilometers of coastal roads ahead of us.", 'data-img-src' => "#{asset_url("routemaps/VMap3.png")}"}
							View Checkpoint
			.destination-subtitle-mobile
				From the American War to the Imperial Capital
			.destination-underline-mobile
			.destination-body-mobile
				We'll visit one of the bloodiest sites of the war on our way to the last Imperial Capital on the coast...

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/HoiAnThumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Hoi An
					.destination-title-underline
					.destination-subtitle
						The Infamous, Coastal Hai Van Pass
					.destination-body
						Climbing one of the country's most notorious roads along the scenic coastline, we'll hit three major cities...
					%a
						.destination-button{"data-num" => 4, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp3', 'data-title' => 'The Infamous, Coastal Hai Van Pass', 'data-body' => 'One of the nation’s wealthiest towns, a culinary capital and a complete cultural melting pot, Hoi An will be our next home for the day. Although among our shortest rides, we’ll have one of the most spectacular riding experiences while riding over the infamous Hai Van Pass along the coast from Hue to Danang. <br><br>Ranking among the some of the best motorcycle rides in Vietnam, Hai Van Pass will twist and wind as we climb almost 2,000 feet into the often cloud-shrouded skies. Be sure to stop at the top and take it all in; it’s one of Vietnam’s most scenic spots for good reason. The ride down will be no less exciting, just make sure to keep at least one eye on the road at all times because this road is notorious for accidents of those not paying attention to driving…<br><br>After cruising along the coastline past Danang, we’ll all reach Hoi An. Check out the preserved Old Town and its Japanese merchant houses, Chinese temples and ancient tea warehouse. More importantly, find a good place to grab some fresh seafood and a nice beer. Lounge bars and restaurants are in this laidback town.', 'data-img-src' => "#{asset_url("routemaps/VMap4.png")}"}
							View Checkpoint
			.destination-subtitle-mobile
				The Infamous, Coastal Hai Van Pass
			.destination-underline-mobile
			.destination-body-mobile
				Climbing one of the country's most notorious roads along the scenic coastline, we'll hit three major cities...

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/muinethumbnail.jpg")}') center center no-repeat"}
				.destination-description
					.destination-title
						Mui Ne
					.destination-title-underline
					.destination-subtitle
						Surfers, Dunes and Endless Seafood
					.destination-body
						One of Asia’s most popular kitesurfing destinations, Mui Ne is southern Vietnam’s adrenalin capital...
					%a
						.destination-button{"data-num" => 5, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp blahlabh', 'data-title' => 'Surfers, Dunes and Endless Seafood', 'data-body' => 'One of Asia’s most popular kitesurfing destinations, Mui Ne is southern Vietnam’s adrenalin capital. You’re not gonna believe just how many kitesurfers will take off from this beach and the sight of a few dozen kites and surfers flying through the air in the wind is pretty amazing to see.<br><br>Another unique aspect of Mui Ne is the fact it’s beaches are met by enormous red and white sand dunes, creating a desert-like scenery. The wind constantly sculpts the sand into very Sahara-like formations. Explore the dunes or take your bike on a mini exploration to the nearby fishing villages; either way, fresh seafood and drinks will be on the menu.', 'data-img-src' => "#{asset_url("routemaps/VMap5.png")}"}
							View Checkpoint
			.destination-subtitle-mobile
				Surfers, Dunes and Endless Seafood
			.destination-underline-mobile
			.destination-body-mobile
				One of Asia’s most popular kitesurfing destinations, Mui Ne is southern Vietnam’s adrenalin capital...

		.row.col-md-6
			.destination-image{style: "background: url('#{asset_path("background/hochiminhcitystreet.jpeg")}') center center no-repeat"}
				.destination-description	
					.destination-title
						Ho Chi Minh City
					.destination-title-underline
					.destination-subtitle
						The Most Rewarding Final Stretch
					.destination-body
						One of the most rewarding and beautiful legs of our adventure will be this southern coastal ride...
					%a
						.destination-button{"data-num" => 6, "data-target" => "#myModal", "data-toggle" => "modal", 'data-name' => 'Basecamp cookiemonster', 'data-title' => 'The Most Rewarding Final Stretch', 'data-body' => 'Our final leg has come, but this is going to be one of the most rewarding. The newly built coastal roads from Phan Thiet to Ho Chi Minh City and known to be some of the best on the country’s massive coastline. I strongly advise everyone takes their time and follow the coast no matter how small it is or how lost you might get yourself. Once to the rivers into the city, we’ll cut up into the final stretch inland and to our finish line!<br><br>Although we might get a bit bummed that our ride has come to an end, the fact we just f*#king road motorcycles completely across Vietnam is going to feel pretty damn good. To add to the excitement, we’re now in the most lively and exciting cities in the country; a perfect place for a proper celebration. We’ll spend the night partying before splitting ways the following day...until the next adventure.', 'data-img-src' => "#{asset_url("routemaps/VMap6.png")}"}
							View Checkpoint
			.destination-subtitle-mobile
				The Most Rewarding Final Stretch
			.destination-underline-mobile
			.destination-body-mobile
				One of the most rewarding and beautiful legs of our adventure will be this southern coastal ride...

	.col-md-12.location-how{style: "background: url('#{asset_path("background/vietnam40.jpg")}') center center no-repeat"}
		.location-how-header
			What's the "Plan"?
		.col-md-12.how-box-container
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						Our Ride Vibe
					.how-box-body
						Rather than travel in a big group, we're going to be riding as a small unit. We're going to act as travelers rather than tourists and I've purposely chosen a route that avoids major tourist areas.
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						What We'll Handle
					.how-box-body
						I've arranged for our bikes and gear to be waiting for us on arrival along with all checkpoint accommodations. I've also arranged your bike to be shipped back to Hanoi...if you make it there.
			.col-md-4.how-box
				.how-box-text
					.how-box-title
						What You'll Need
					.how-box-body	
						This trip isn't for amatuer riders... You'll need to prove your riding experience, valid motorcycle license and apply for an international drivers permit (very easy to do through AAA).
	.col-md-12.location-who
		.location-who-header
			Who's Going?
		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/banosbiking.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Jon
				.who-title
					Team
				.who-description
					The Pho King
				.who-title
					Secret Weapon
				.who-description
					Wet Wipes and my obsession Vietnamese food, culture and history

		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/Ryansfillerimage.jpeg")}') center center no-repeat"}
			.who-text
				.who-name
					Ryan
				.who-title
					Team
				.who-description
					The Pho King
				.who-title
					Only Strength
				.who-description
					A flawless one-cheek sneak regardless of the location or situation.

		.col-md-4.who-container
			.who-image{style: "background: url('#{asset_path("background/Chrisjumping.jpg")}') center center no-repeat"}
			.who-text
				.who-name
					Chris
				.who-title
					Team
				.who-description
					Aye Okie
				.who-title
					Why I'll Win
				.who-description
					Short cuts, booby traps and bribes.

	.col-md-12.location-inclusions{style: "background: url('#{asset_path("background/halongb&w.jpg")}') center center no-repeat"}
		.location-inclusions-header{style: "color: #212326;"}
			Reserve your Spot
		.col-md-10.col-md-offset-1.inclusions-container
			.priceanddate_container
				.location-date
					May 28th - June 11th, 2016
				.trip-price
					Entry Fee - Starting at $1,500
			.col-md-6.inclusions-title
				What's Included?
				.inclusions-description
					15-Day Motorcycle Rental (CRF250)
					<br>
					<br>
					Bike Shipping to Hanoi
					<br>
					<br>
					Helmet, Tool Kit, Spare Parts and Maps
					<br>
					<br>
					10 Nights Accommodations at Checkpoints
					<br>
					<br>
					Hanoi Launch Party
					<br>
					<br>
					HCMC Finish Party
			.col-md-6.inclusions-title
				What's Not Included?
				.inclusions-description
					International Flights
					<br>
					I'm here to help find you the cheapest flights
					<br>
					<br>
					Meals & Extra Beers
					<br> I'm good for plenty of rounds
					<br>
					<br>
					Gas for your Bike
					<br>
					<br>
					Accommodations between Checkpoints


	.col-md-12.location-join
		.who-join
			Do you have what it takes?
		.who-join-description
			Join the Vietnamese traveling circus!
		%a{href:'/apply/vietnam'}
			.join-button.btn
				Contact Jon
