!!!
%html
    %head

        - if action_name == 'vietnam'
            %meta{:content => "2 Wheels, 2 Weeks, 2,400km - Vietnam by Motorcycle", :property => "og:title"}/
            %meta{:content => "AdventureMade", :property => "og:site_name"}/
            %meta{:content => "A 2,400km adventure across Vietnam from Hanoi Ho Chi Minh City on dirt bikes. Nine checkpoints with no set routes, GPS cheats, mechanics or guides to lead the way. Sound crazy? That's why we're going to do it this June.", :property => "og:description"}/
            %meta{:content => "website", :property => "og:type"}/
            %meta{:content => "http://www.madebyadventure.com/vietnam/", :property => "og:url"}/
            %meta{:content => "http://i.imgur.com/u3vGbYZ.jpg", :property => "og:image"}/
            %meta{:content => "1450", :property => "og:image:width"}/
            %meta{:content => "760", :property => "og:image:height"}/
        - elsif action_name == 'colombia'
            %meta{:content => "AdventureMade - Whitewater Colombia by Max J.", :property => "og:title"}/
            %meta{:content => "AdventureMade", :property => "og:site_name"}/
            %meta{:content => "Multi day group rafting adventure. Tackle the mighty Rio Verde and Rio Samana, from the Colombian highlands to the dense jungles of the tropical rainforest.", :property => "og:description"}/
            %meta{:content => "website", :property => "og:type"}/
            %meta{:content => "http://www.madebyadventure.com/colombia/", :property => "og:url"}/
            %meta{:content => "http://i.imgur.com/u3vGbYZ.jpg", :property => "og:image"}/
            %meta{:content => "1450", :property => "og:image:width"}/
            %meta{:content => "760", :property => "og:image:height"}/
        - elsif action_name == 'adventure'
            %meta{:content => "AdventureMade - Create Your Adventure", :property => "og:title"}/
            %meta{:content => "AdventureMade", :property => "og:site_name"}/
            %meta{:content => "Create an adventure with a local guide and get rewarded when others book your trip.", :property => "og:description"}/
            %meta{:content => "website", :property => "og:type"}/
            %meta{:content => "http://www.madebyadventure.com/adventure/", :property => "og:url"}/
            %meta{:content => "http://i.imgur.com/u3vGbYZ.jpg", :property => "og:image"}/
            %meta{:content => "1450", :property => "og:image:width"}/
            %meta{:content => "760", :property => "og:image:height"}/
        - else
            %meta{:content => "AdventureMade - One of a Kind Collaborative Group Adventures", :property => "og:title"}/
            %meta{:content => "AdventureMade", :property => "og:site_name"}/
            %meta{:content => "Discover unique group adventures created by travelers with local guides.", :property => "og:description"}/
            %meta{:content => "website", :property => "og:type"}/
            %meta{:content => "http://www.madebyadventure.com/", :property => "og:url"}/
            %meta{:content => "http://i.imgur.com/u3vGbYZ.jpg", :property => "og:image"}/
            %meta{:content => "1450", :property => "og:image:width"}/
            %meta{:content => "760", :property => "og:image:height"}/

        %title AdventureMade
        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        / Prelang: Analytics / Google Analytics
        = analytics_init if Rails.env.production? or Rails.env.development?
        = favicon_link_tag 'adventuremade_favicon.ico'

    %body
        = render partial: "elements/navbar"
        = render partial: "devise/shared/basecamp_modal"    

        = bootstrap_flash
        = yield
    %footer
        = render partial: "elements/footer"

