!!!
%html
    %head
        - if content_for?(:meta_og)
            = yield :meta_og
        - else
            %meta{:content => "AdventureMade - One of a Kind Collaborative Group Adventures", :property => "og:title"}/
            %meta{:content => "AdventureMade", :property => "og:site_name"}/
            %meta{:content => "Discover unique group adventures created by travelers with local guides.", :property => "og:description"}/
            %meta{:content => "website", :property => "og:type"}/
            %meta{:content => "http://www.madebyadventure.com/", :property => "og:url"}/
            %meta{:content => "http://i.imgur.com/KIgtPXf.png", :property => "og:image"}/
            %meta{:content => "1305", :property => "og:image:width"}/
            %meta{:content => "798", :property => "og:image:height"}/

        %title AdventureMade
        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        / Prelang: Analytics / Google Analytics
        = analytics_init if Rails.env.production? or Rails.env.development?
        = favicon_link_tag 'adventuremade_favicon.ico'

    %body
        = render partial: "elements/navbar"
        = render partial: "devise/shared/basecamp_modal"    

        = bootstrap_flash
        = yield
    %footer
        = render partial: "elements/footer"

