!!!
%html
  %head
    - if content_for?(:meta_og)
      = yield :meta_og
    - else
      %meta{:content => "Group Adventures Made By Travelers - AdventureMade", :property => "og:title"}/
      %meta{:content => "AdventureMade", :property => "og:site_name"}/
      %meta{:content => "Discover one of a kind group adventures created by travelers with local guides.", :property => "og:description"}/
      %meta{:content => "website", :property => "og:type"}/
      %meta{:content => "http://www.madebyadventure.com/", :property => "og:url"}/
      %meta{:content => "http://i.imgur.com/hShb0MO.png", :property => "og:image"}/
      %meta{:content => "1326", :property => "og:image:width"}/
      %meta{:content => "700", :property => "og:image:height"}/

    %title AdventureMade
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    / Prelang: Analytics / Google Analytics
    = analytics_init if Rails.env.production? or Rails.env.development?
    = favicon_link_tag 'adventuremade_favicon.ico'
    = csrf_meta_tags

  %body
    #loader-overlay
      .fa.fa-spinner.fa-spin

    
    / Button trigger modal
    
    / Modal
    

    - if !current_user && controller_name != 'registrations'
      #email-signup-now{"data-target" => "#singupModal", "data-toggle" => "modal", :type => "button"}
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa.fa-envelope-o.fa-stack-1x.fa-inverse

      = render partial: "devise/shared/signup_modal"


    = render partial: "elements/navbar"
    = render partial: "devise/shared/basecamp_modal"    
    = bootstrap_flash

    = yield

  %footer
    = render partial: "elements/footer"
